
@helper FullDetails(int member_type)
{
    switch (member_type)
    {
        case 1:
            @Ajax.ActionLink("详细设置", "Create", "QY_Person", new { area = ""}, new AjaxOptions {  HttpMethod="GET", UpdateTargetId="detail", LoadingElementId="Loading" })
       break;
        case 2:
            @Ajax.ActionLink("详细设置", "Create", "QY_Corp", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "detail", LoadingElementId = "Loading" })
       break;
        case 3:
            @Ajax.ActionLink("详细设置", "Create", "JG_Agency", "Default", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "detail", LoadingElementId = "Loading" })
       break;
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#config li a").click(function (e) {
            e.preventDefault();
            $("#config li").removeClass("active");
            $(this).parent("li").addClass("active");
        });
        $("#config li.active a").click();
    });


</script>
<fieldset>
    <legend>个人设置</legend>
    <hr />
    <ul class="nav nav-tabs" id="config">
        <li class="active">
            @Ajax.ActionLink("基本设置", "Edit", "Member", new { id = 1 }, new AjaxOptions {  HttpMethod="GET", UpdateTargetId="detail", LoadingElementId="Loading" })
        </li>
        <li>
            @FullDetails(ViewBag.MemberType)
        </li>
    </ul> 

    <div id="detail">
    
    
    </div>
</fieldset>
