@model IEnumerable<GGZBTQPT_PRO.Models.T_XM_Financing>

@{
    ViewBag.Title = "batch_Verify";
}

<h2>batch_Verify</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ItemName
        </th>
        <th>
            Province
        </th>
        <th>
            City
        </th>
        <th>
            Region
        </th>
        <th>
            Industry
        </th>
        <th>
            ValidDate
        </th>
        <th>
            Keys
        </th>
        <th>
            ItemContent
        </th>
        <th>
            ItemType
        </th>
        <th>
            FinancSum
        </th>
        <th>
            FinancType
        </th>
        <th>
            FinancCycle
        </th>
        <th>
            TotalInvestment
        </th>
        <th>
            ReturnRatio
        </th>
        <th>
            ItemStage
        </th>
        <th>
            ItemValue
        </th>
        <th>
            Assure
        </th>
        <th>
            Collateral
        </th>
        <th>
            PartnerRequirements
        </th>
        <th>
            AssetsType
        </th>
        <th>
            AssetsCost
        </th>
        <th>
            IsMortgage
        </th>
        <th>
            TransferPrice
        </th>
        <th>
            TransferType
        </th>
        <th>
            TransactionMode
        </th>
        <th>
            Investment
        </th>
        <th>
            CooperationMode
        </th>
        <th>
            BuildCycle
        </th>
        <th>
            ReturnCycle
        </th>
        <th>
            OtherItemFinancSum
        </th>
        <th>
            OtherItemFinancCycle
        </th>
        <th>
            PublicStatus
        </th>
        <th>
            SubmitTime
        </th>
        <th>
            PublicTime
        </th>
        <th>
            Linkman
        </th>
        <th>
            Position
        </th>
        <th>
            Phone
        </th>
        <th>
            Mobile
        </th>
        <th>
            Fax
        </th>
        <th>
            Email
        </th>
        <th>
            QQ
        </th>
        <th>
            Address
        </th>
        <th>
            IsPublic
        </th>
        <th>
            IsValid
        </th>
        <th>
            OP
        </th>
        <th>
            CreateTime
        </th>
        <th>
            UpdateTime
        </th>
        <th>
            MemberID
        </th>
        <th>
            IndustryName
        </th>
        <th>
            PublicText
        </th>
        <th>
            MemberName
        </th>
        <th>
            Amount
        </th>
        <th>
            ItemText
        </th>
        <th>
            FinancTypeText
        </th>
        <th>
            ItemStageText
        </th>
        <th>
            AssetsTypeText
        </th>
        <th>
            TransactionModeText
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            @item.ItemName
        </td>
        <td>
            @item.Province
        </td>
        <td>
            @item.City
        </td>
        <td>
            @item.Region
        </td>
        <td>
            @item.Industry
        </td>
        <td>
            @String.Format("{0:g}", item.ValidDate)
        </td>
        <td>
            @item.Keys
        </td>
        <td>
            @item.ItemContent
        </td>
        <td>
            @item.ItemType
        </td>
        <td>
            @String.Format("{0:F}", item.FinancSum)
        </td>
        <td>
            @item.FinancType
        </td>
        <td>
            @item.FinancCycle
        </td>
        <td>
            @String.Format("{0:F}", item.TotalInvestment)
        </td>
        <td>
            @String.Format("{0:F}", item.ReturnRatio)
        </td>
        <td>
            @item.ItemStage
        </td>
        <td>
            @String.Format("{0:F}", item.ItemValue)
        </td>
        <td>
            @item.Assure
        </td>
        <td>
            @item.Collateral
        </td>
        <td>
            @item.PartnerRequirements
        </td>
        <td>
            @item.AssetsType
        </td>
        <td>
            @String.Format("{0:F}", item.AssetsCost)
        </td>
        <td>
            @item.IsMortgage
        </td>
        <td>
            @String.Format("{0:F}", item.TransferPrice)
        </td>
        <td>
            @item.TransferType
        </td>
        <td>
            @item.TransactionMode
        </td>
        <td>
            @String.Format("{0:F}", item.Investment)
        </td>
        <td>
            @item.CooperationMode
        </td>
        <td>
            @item.BuildCycle
        </td>
        <td>
            @item.ReturnCycle
        </td>
        <td>
            @String.Format("{0:F}", item.OtherItemFinancSum)
        </td>
        <td>
            @item.OtherItemFinancCycle
        </td>
        <td>
            @item.PublicStatus
        </td>
        <td>
            @String.Format("{0:g}", item.SubmitTime)
        </td>
        <td>
            @String.Format("{0:g}", item.PublicTime)
        </td>
        <td>
            @item.Linkman
        </td>
        <td>
            @item.Position
        </td>
        <td>
            @item.Phone
        </td>
        <td>
            @item.Mobile
        </td>
        <td>
            @item.Fax
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.QQ
        </td>
        <td>
            @item.Address
        </td>
        <td>
            @item.IsPublic
        </td>
        <td>
            @item.IsValid
        </td>
        <td>
            @item.OP
        </td>
        <td>
            @String.Format("{0:g}", item.CreateTime)
        </td>
        <td>
            @String.Format("{0:g}", item.UpdateTime)
        </td>
        <td>
            @item.MemberID
        </td>
        <td>
            @item.IndustryName
        </td>
        <td>
            @item.PublicText
        </td>
        <td>
            @item.MemberName
        </td>
        <td>
            @item.Amount
        </td>
        <td>
            @item.ItemText
        </td>
        <td>
            @item.FinancTypeText
        </td>
        <td>
            @item.ItemStageText
        </td>
        <td>
            @item.AssetsTypeText
        </td>
        <td>
            @item.TransactionModeText
        </td>
    </tr>
}

</table>

