@model GGZBTQPT_PRO.Models.T_HY_Member
@{
    Layout = null;
}
<div id="FormContainer" class="pageContent">
    @using (Html.BeginForm("Edit", "HY_Member", FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="pageFormContent" layouth="56">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.CreatedAt)
            @Html.HiddenFor(model => model.IsValid)
            @Html.HiddenFor(model => model.IsVerified)
            @Html.HiddenFor(model => model.State)
            <p>
                @Html.LabelFor(model => model.LoginName)
                @Html.EditorFor(model => model.LoginName)
                @Html.ValidationMessageFor(model => model.LoginName)
            </p>
            <p>
                @Html.LabelFor(model => model.MemberName)
                @Html.EditorFor(model => model.MemberName)
                @Html.ValidationMessageFor(model => model.MemberName)
            </p>
            <p>
                @Html.LabelFor(model => model.CellPhone)
                @Html.EditorFor(model => model.CellPhone)
                @Html.ValidationMessageFor(model => model.CellPhone)
            </p>
            <p>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </p>
            <p>
                @Html.LabelFor(model => model.Type)
                @Html.DropDownList("Type", (SelectList)ViewData["Types"])
                @Html.ValidationMessageFor(model => model.Type)
            </p>
        </div>
        
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
    }
</div>
