@model IEnumerable<GGZBTQPT_PRO.Models.T_JG_Product>

@{
    Layout = null;
}

<div class="pageHeader" style="display:none">
    <form id="pagerForm" method="post" action="@Url.Action("ProductList")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    <input type="hidden" name="memberId" value="@ViewData["memberId"]"  />
    </form>
</div>
<div class="pageContent">
    <div layouth="40" id="divList" style="border-top: 1px #B8D0D6 solid;">
        <table class="list" width="100%" asc="asc" desc="desc">
        <thead>
        <tr>
            <th>
                金融产品
            </th>
            <th>
                融资金额
            </th><th>
            创建时间</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.FinancingAmount
                </td>
                <td>
                    @item.CreateTime
                </td>
            </tr>
        }
        </tbody>
        </table>
    </div>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="dialogPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] {10,15, 25, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="dialog" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>

