@model IEnumerable<GGZBTQPT_PRO.ViewModels.VM_MemberRelease>

@{
    Layout = null;
}

<div class="pageHeader">
    <form id="pagerForm" method="post" action="@Url.Action("Query")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    </form>
    <form onsubmit="return navTabSearch(this);" rel="pagerForm" action="@Url.Action("Query")"
    method="post">
    <div class="searchBar">
        <ul class="searchContent">
            <li>
                <label>
                    会员用户名：</label>
                <input type="text" name="keywords" value="@ViewData["keywords"]" />
            </li>
            <li>
                <label>
                    会员类型：</label>
                    @Html.DropDownList("type", "---请选择---")
            </li>
        </ul>
        <div class="subBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                检索</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent" style="padding-top:1px; border-top:1px #B8D0D6 solid;">
    <div layouth="91" id="divList">
        <table  class="list" width="100%" asc="asc" desc="desc">
        <thead>
        <tr>
            <th>
                登录名
            </th>
            <th>
                用户名
            </th>
            <th>
                手机
            </th>
            <th>
                用户类型
            </th>
            <th>
                创建时间
            </th>
            <th>
                更新时间
            </th>
            <th>
                项目数
            </th>
            <th>
                意向数
            </th>
            <th>
                产品数
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.LoginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.UpdatedAt)
            </td>
            @if (@item.FinancingCount > 0)
            {
            <td>
                @Html.ActionLink(item.FinancingCount.ToString(), "FinancingList", "HY_Member", new { memberId = item.Member.ID }, new { target = "dialog", mask = "true",title="项目详情",width = "550", height = "350" })
            </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.FinancingCount)</td>
            }
            @if (@item.InvestmentCount > 0)
            {
                <td>
                    @Html.ActionLink(item.InvestmentCount.ToString(), "InvestmentList", "HY_Member", new { memberId = item.Member.ID }, new { target = "dialog", mask = "true", title = "意向详情", width = "550", height = "350" })
                </td>
            }
            else
            {
            <td>
                @Html.DisplayFor(modelItem => item.InvestmentCount)
            </td>
            }
            @if (@item.ProductCount > 0)
            {
                <td>
                    @Html.ActionLink(item.ProductCount.ToString(), "ProductList", "HY_Member", new { memberId = item.Member.ID }, new { target = "dialog", mask = "true", title = "产品详情", width = "550", height = "350" })
                </td>
            }
            else
            {
            <td>
                @Html.DisplayFor(modelItem => item.ProductCount)
            </td>
            }
        </tr>
        }
        </tbody>
        </table>
    </div>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 15, 25, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>