@model GGZBTQPT_PRO.ViewModels.VM_SelectMember
@{
    ViewBag.Title = "会员详情";
    Layout = null;
}
<div class="pageHeader">
    <form id="pagerForm" method="post" action="@Url.Action("QueryDetails", "HY_Member", new { member_id = 2 })">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    </form>
</div>
<div class="pageContent">
    <div layouth="2" id="divList">
        <table class="list" width="100%" asc="asc" desc="desc">
            <thead>
                <tr>
                    <th>
                        项目名称
                    </th>
                    <th>
                        融资金额
                    </th>
                    <th>
                        项目类别
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Financings != null && Model.Financings.Count > 0)
                {
                    
                    foreach (var Financing in Model.Financings)
                    {
                        <tr>
                            <td>@Financing.ItemName</td>
                            <td>@Financing.Amount</td>
                            <td>@Financing.ItemText</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" style="text-align:center">暂无数据</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                <option value="5" selected="selected">5</option>
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
    @*<table class="list" width="100%" asc="asc" desc="desc">
        <thead>
            <tr>
                <th>
                    投资意向
                </th>
                <th>
                    所属行业
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Investments != null && Model.Investments.Count > 0)
            {
                foreach (var Investment in Model.Investments)
                {
                <tr>
                    <td>@Investment.ItemName</td>
                    <td>@Investment.AimIndustry</td>
                </tr>
                    
                }
            }
            else
            {
                <tr>
                    <td colspan="2" style="text-align:center">暂无数据</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage2:this.value,pageNum2:1})">
                <option value="5" selected="selected">5</option>
            </select>
            <span>条，共 @ViewData["recordCount2"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount2"]" numperpage="@ViewData["numPerPage2"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum2"]">
        </div>
    </div>
    <table class="list" width="100%" asc="asc" desc="desc">
        <thead>
            <tr>
                <th>
                    金融产品
                </th>
                <th>
                    融资金额
                </th>
                <th>
                    创建时间
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var Product in Model.Products)
                {
                <tr>
                    <td>@Product.ProductName</td>
                    <td>@Product.FinancingAmount</td>
                    <td>@Product.CreateTime</td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" style="text-align:center">暂无数据</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage3:this.value,pageNum3:1})">
                <option value="5" selected="selected">5</option>
            </select>
            <span>条，共 @ViewData["recordCount3"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount3"]" numperpage="@ViewData["numPerPage3"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum3"]">
        </div>
    </div>*@
    </div>
</div>
