@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Models.T_XM_Financing>
@{
    ViewBag.Title = "找项目";
}
<style type="text/css">
input,span {font:12px/24px verdana;vertical-align:middle;} 
</style>
@helper GenerateIndustry()
{
    var i = 0;
    foreach (var item in ViewData["Industry"] as SelectList)
    {
        if (i % 6 == 0 && i != 0)
        {
            @:</tr><tr>
        }
            @:<td><input type="checkbox" id="checkboxType" name="cbIndustry" value="@item.Value" /><span>@item.Text</span></td>
        i++;
    }
}
@helper GenerateItemStage()
{
    foreach (var item in ViewData["ItemStage"] as SelectList)
    {
       @:<td><input type="checkbox" id="checkboxType" name="cbItemStage" value="@item.Value" /><span>@item.Text</span></td>
    }
}

<h3 class="content-title">找项目</h3>
@using (Html.BeginForm())
{
<div id="inquire-options" class="inquire-options well well-small">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <label>
                    项目类型：</label>
            </div>
            <div class="span10">
                <input type="checkbox" name="cbItemType" value="1" title="项目融资" /><span>项目融资</span>
                <input type="checkbox" name="cbItemType" value="2" title="资产交易" /><span>资产交易</span>
                <input type="checkbox" name="cbItemType" value="3" title="政府招商" /><span>政府招商</span>
                <input type="checkbox" name="cbItemType" value="9" title="其他" /><span>其他</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                <label>
                    所属行业：</label>
            </div>
            <div class="span10">
                <table width="600px">
                    <tr>
                    @GenerateIndustry()
                    </tr>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                <label>
                    资金范围：</label>
            </div>
            <div class="span10">
                <input type="checkbox" name="cbFinancial" value="<10" title="1-10万" /><span>1-10万</span>
                <input type="checkbox" name="cbFinancial" value="between 10 and 50" title="10-50万" /><span>10-50万</span>
                <input type="checkbox" name="cbFinancial" value="between 50 and 100" title="50-100万" /><span>50-100万</span>
                <input type="checkbox" name="cbFinancial" value="between 1 and 1000" title="500-1000万" /><span>500-1000万</span>
                <input type="checkbox" name="cbFinancial" value="between 1000 and 5000" title="1000-5000万" /><span>1000-5000万</span><br />
                <input type="checkbox" name="cbFinancial" value="between 5000 and 10000" title="5000万-1亿" /><span>5000万-1亿</span>
                <input type="checkbox" name="cbFinancial" value=">10000" title="大于1亿" /><span>大于1亿</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
                <label>
                    项目阶段：</label>
            </div>
            <div class="span10">
                <table>
                    <tr>
                    @GenerateItemStage()
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @*<div style="float:left;">
            排序方式：<a href="#">发布时间↓</a> <a href="#">投资金额↓</a> <a href="#">收藏数↓</a>
        </div>*@
        <div style="float:right;">
            项目名称：<input type="text" name="keys" style="vertical-align:middle" /><input type="submit" value="查询" style="vertical-align:middle" /><input type="reset" value="重置"  style="vertical-align:middle"/>
        </div>
    </div>
</div>
}
<div id="published">
    @foreach (var _model in Model)
    {
        <div class="row-fluid">
            @*项目信息*@
            <div class="published-content ">
                <h4>
                    @Html.ActionLink(_model.ItemName, "Details", "Financial", new { id = _model.ID }, null)<span class="pub-time pull-right">@_model.CreateTime</span></h4>
                @*摘要*@
                <p class="summary">
                    @if (_model.ItemContent.Length > 200)
                    {
                         <span>@_model.ItemContent.Substring(0, 200)...</span>
                    }
                    else
                    {
                        <span>@_model.ItemContent.Substring(0, _model.ItemContent.Length)</span>
                    }
                </p>
                @*附属信息*@
                <div class="published-info">
                   <span class="amount text-error">总投资：@_model.Amount 万元</span><span class="favorite pull-right text-info">【@_model.Favoites.Count() 人收藏】</span>
                </div>
            </div>
        </div>
            
    }
    
</div>
<div class="pagination pagination-left clear">
        @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }) 
    </div>
<script type="text/javascript">
    function notice(data) {
        $("#recommend li.active a").click();
        $.Member.notice(data);
    }


</script>