@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Models.T_XM_Investment>
@{
    ViewBag.Title = "找资金";
}
<style type="text/css">
input,span {font:12px/24px verdana;vertical-align:middle;} 
.ul_query{margin-left:0;list-style:none;}
.ul_query li{width:95px; float:left;margin:0px;padding:0px;}
.td_line{border-bottom:1px dashed #DDD;}
</style>
@helper GenerateIndustry()
{
    @:<ul class="ul_query">
    foreach (var item in ViewData["Industry"] as SelectList)
    {
        <li><input type="checkbox" name="cbIndustry" value="@item.Value"/><span>@item.Text</span></li>
    }
    @:</ul>
}
@helper GenerateTeamworkType()
    {
    @:<ul class="ul_query">
    foreach (var item in ViewData["TeamworkType"] as SelectList)
    {
        <li><input type="checkbox" name="cbTeamworkType" value="@item.Value" /><span>@item.Text</span></li>
    }
    @:</ul>
}
@helper GenerateInvestmentStage()
{
    @:<ul class="ul_query">
    foreach (var item in ViewData["InvestmentStage"] as SelectList)
    {
        <li><input type="checkbox" name="cbInvestmentStage" value="@item.Value" /><span>@item.Text</span></li>
    }
    @:</ul>
}
@helper GenerateInvestmentNature()
{
    @:<ul class="ul_query">
    foreach (var item in ViewData["InvestmentNature"] as SelectList)
    {
        <li><input type="checkbox" id="checkboxType" name="cbInvestmentNature" value="@item.Value" /><span>@item.Text</span></li>
    }
    @:</ul>
}



<h3 class="content-title">
    找资金</h3>
@using (Html.BeginForm())
{
<div class="inquire-conditions">
</div>
<div id="inquire-options" class="inquire-options well well-small">
    <div class="container-fluid">
        <table id="qtb" width="100%" border="0" cellpadding="1">
        <tr>
            <td width="70px">
                已经选择：
            </td>
            <td class="td_line"><div id="message" name="mes" style="color:Red;">@ViewBag.context</div></td>
        </tr>
        <tr>
            <td>投资性质：</td>
            <td class="td_line">
                @GenerateInvestmentNature()
            </td>
        </tr>
        <tr>
            <td>合作方式：</td>
            <td class="td_line">
                @GenerateTeamworkType()
            </td>
        </tr>
        <tr>
            <td>意向行业：</td>
            <td class="td_line">
                @GenerateIndustry()
            </td>
        </tr>
        <tr>
            <td>投资阶段：</td>
            <td class="td_line">
                @GenerateInvestmentStage()
            </td>
        </tr>
        <tr>
            <td>资金范围：</td>
            <td class="td_line">
                <ul class="ul_query">
                <li><input type="checkbox" name="cbFinancial" value="<10" title="1-10万" /><span>1-10万</span></li>
                <li><input type="checkbox" name="cbFinancial" value="between 10 and 100" title="10-100万" /><span>10-100万</span></li>
                <li><input type="checkbox" name="cbFinancial" value="between 100 and 500" title="100-500万" /><span>100-500万</span></li>
                <li><input type="checkbox" name="cbFinancial" value="between 500 and 1000" title="500-1000万" /><span>500-1000万</span></li>
                <li><input type="checkbox" name="cbFinancial" value="between 1000 and 5000" title="1000-5000万" /><span>1000-5000万</span></li>
                <li><input type="checkbox" name="cbFinancial" value="between 5000 and 10000" title="5000万-1亿" /><span>5000万-1亿</span></li>
                <li><input type="checkbox" name="cbFinancial" value=">10000" title="大于1亿" /><span>大于1亿</span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>项目名称：</td>
            <td class="td_line"><input type="text" name="keys" />(项目名称关键字)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="搜  索" style="margin-left:70px; font-size:13pt" /></td>
        </tr>
        </table>
    </div>
</div>

<div id="published">
    @foreach (var _model in Model)
    {
        <div class="row-fluid">
            @*投资意向信息*@
            <div class="published-content ">
                <h4>
                   @Html.ActionLink(_model.ItemName, "Details", "Investment", new { id = _model.ID }, null)<span class="pub-time pull-right">@_model.CreateTime.Value.ToString("yyyy年MM月dd日")</span></h4>
                @*摘要*@
                <p class="summary">
                    @if (_model.ShowText.Length > 200)
                    {
                        <span>@_model.ShowText.Substring(0, 200)...</span>
                    }
                    else
                    {
                        <span>@_model.ShowText</span>
                    }
                </p>
                @*附属信息*@
                <div class="published-info">
                   <span class="amount text-error">总投资：@_model.Investment 万元</span><span class="favorite pull-right text-info">【@_model.Favoites.Count() 人收藏】</span>
                </div>
            </div>
        </div>   
    }        
</div>
    if (ViewBag.Message != null)
    {
        <span style="font-weight:bold; font-size:large;">@ViewBag.Message</span>
    }
    <div id="pager" class="pagination pagination-right pagination-small">
    @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a onclick='form1.submit();'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new { FormMethod = FormMethod.Post })
    </div>   
    <div style="display:none">
                <input id="condition1" type="text" name="condition1" value="@ViewBag.condition1" />
                <input id="condition2" type="text" name="condition2" value="@ViewBag.condition2" />
                <input id="condition3" type="text" name="condition3" value="@ViewBag.condition3" />
                <input id="condition4" type="text" name="condition4" value="@ViewBag.condition4" />
                <input id="condition5" type="text" name="condition5" value="@ViewBag.condition5" />
                <input id="context" type="text" name="context" value="@ViewBag.context" />
                <input id="current_page_id" name="current_page_id" value="@ViewBag.current_page_id" /></div>
        
}
<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=checkbox]").click(function () {
            if ($(this).attr("checked")) {
                $("#message").append($(this).next().html() + "|");
                if ($(this).attr("name") == "cbInvestmentNature") {
                    $("#condition1").attr("value", $("#condition1").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbTeamworkType") {
                    $("#condition2").attr("value", $("#condition2").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbIndustry") {
                    $("#condition3").attr("value", $("#condition3").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbInvestmentStage") {
                    $("#condition4").attr("value", $("#condition4").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbFinancial") {
                    $("#condition5").attr("value", $("#condition5").val() + "," + $(this).val());
                }
            }
            else {
                $("#message").text($("#message").text().replace($(this).next().html() + "|", ""));
                if ($(this).attr("name") == "cbInvestmentNature") {
                    $("#condition1").attr("value", $("#condition1").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbTeamworkType") {
                    $("#condition2").attr("value", $("#condition2").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbIndustry") {
                    $("#condition3").attr("value", $("#condition3").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbInvestmentStage") {
                    $("#condition4").attr("value", $("#condition4").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbFinancial") {
                    $("#condition5").attr("value", $("#condition5").val().replace("," + $(this).val(), ""));
                }
            }
            $("#context").attr("value", $("#message").text());
        });
        var filter = $("#condition1").val() + $("#condition2").val() + $("#condition3").val() + $("#condition4").val() + $("#condition5").val();
        var list = filter.split(",");
        $("input[type=checkbox]").each(function () {
            $(this).attr("checked", $.inArray(this.value, list) > -1);
        });
        $("#pager ul li a").click(function () {
            if ($(this).attr("href") != null && $(this).attr("href") != "" && $(this).attr("href") != "#") {
                $("#current_page_id").attr("value", $(this).attr("href").substr($(this).attr("href").lastIndexOf("/") + 1));
                document.forms[0].submit();
                return false;
            }
        });
    });
</script>
