<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Models.T_JG_Agency>
@{
    Layout = null;
}
<link href="@Url.Content("~/Areas/MG/Content/css/wscss/query.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm())
{
    <div class="news_left">
    <div class="news_nav"></div>
  <div class="pm page_pl10"><a href="#" class="current">搜索条件</a> </div>
  <div class="page_xm">
    <div class="ts-item">
        <dl>
        <dt>机构名称：</dt>
        <dd>
            &nbsp;<input type="text" name="agencyname" value="@ViewData["agencyname"]" style="width:300px"/>
        </dd>
        <dt>机构类别：</dt>
        <dd >
           &nbsp;@Html.DropDownList("AgencyType", "全部")             
        </dd>
        <dd>
            <input type="submit" name="button" value="" class="ts_buttom" />
        </dd>
        </dl>
    </div>
  </div>
  <div class="pm page_pl10"> <a href="#" class="current">搜索信息</a> </div>
  <div class="page_xm">
    <div class="ts-list">
      <div class="ts-l-item"></div>
    </div>
    <div class="fs-content">
        @foreach (var _model in Model)
        {
            var yy = "http://www.ovcstf.com/Default_761_" + _model.MemberID + ",1.html";
                    <ul class="fs-c-list">
            <li>
              <h3><span class="dot">■</span><a target="_blank" href="@yy" class="itemtitle">@_model.AgencyName</a><em></em> </h3>
              <div class="fs-c-c">
              <span class="_label">机构类别：</span>@_model.AgencyTypeName
              <br />
                @if (_model.ShowRemarkText.Length > 200)
                {
                    <span>@_model.ShowRemarkText.Substring(0, 200)...</span>
                }
                else
                {
                    <span>@_model.ShowRemarkText</span>
                }
                <a target="_blank" href="@yy">【查看详情】</a></div>
            </li>
          </ul>
        }
    </div>
  </div>
    <div id="pager">
    @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new AjaxOptions { HttpMethod = "GET" })
</div>
</div>
}
