<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Models.T_QY_Corp>
@{
    Layout = null;
}
<script src="@Url.Content("~/Public/bootstrap/js/jquery.1.7.2.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Areas/MG/Content/css/wscss/query.css")" rel="stylesheet" type="text/css" />

@helper GenerateProperty()
    {
        foreach (var item in ViewData["Property"] as SelectList)
        {
            <em><input type="checkbox" name="cbProperty" value="@item.Value" /><span class="tbs">@item.Text</span></em>
        }
}
@helper GenerateIndustry()
    {
        foreach (var item in ViewData["Industry"] as SelectList)
        {
            <em><input type="checkbox" name="cbIndustry" value="@item.Value" /><span class="tbs">@item.Text</span></em>
        }
}

@using (Html.BeginForm())
{
    <div class="news_left">
    <div class="news_nav"></div>
  <div class="pm page_pl10"> <a href="#" class="current">搜索条件</a> </div>
  <div class="page_xm">
    <div class="ts-item">
        <dl>
        <dt>企业名称：</dt>
        <dd>
            &nbsp;<input type="text" name="corpname" value="@ViewData["corpname"]" style="width:300px"/>
        </dd>
        <dt>企业性质：</dt>
        <dd>@GenerateProperty()</dd>
        <dt>行业类别：</dt>
        <dd>
            @GenerateIndustry()
        </dd>
        <dt>注册资本：</dt>
        <dd>
            &nbsp;@Html.DropDownList("RegKey", "请选择")   
                        <input type="text" name="regcapital" value="@ViewData["regcapital"]" />万元
        </dd>
        <dd>
            <input type="submit" name="button" value="" class="ts_buttom" />
        </dd>
        </dl>
    </div>
  </div>
  <div class="pm page_pl10"> <a href="#" class="current">搜索信息</a> </div>
  <div class="page_xm">
    <div class="ts-list">
      <div class="ts-l-item"></div>
    </div>
    <div class="fs-content">
    @if (ViewBag.Message != null)
    {
        <span style="font-weight:bold; font-size:large;">@ViewBag.Message</span>
    }
       @foreach (var _model in Model)
       {
           var yy = "http://www.ovcstf.com/Default_756_" + _model.MemberID + ",1.html";
           <ul class="fs-c-list">
            <li>
              <h3><span class="dot">■</span><a target="_blank" href="@yy" class="itemtitle">@_model.CorpName</a><em>&nbsp;登记时间：@_model.CreateTime.Value.ToString("yyyy-MM-dd")</em> </h3>
              <div class="fs-c-c">
              <span class="_label">企业性质：</span>@_model.PropertyName
              <br />
                @if (_model.ShowText.Length > 200)
                {
                <span>@_model.ShowText.Substring(0, 200)...</span>
                }
                else
                {
                <span>@_model.ShowText</span>
                }
                <a target="_blank" href="@yy">【查看详情】</a></div>
            </li>
          </ul>
       }
    </div>
  </div>
  <div id="pager">
    @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new AjaxOptions { HttpMethod = "Post" })
</div>
</div>
    <div style="display:none">
                <input id="selproperty" type="text" name="selproperty" value="@ViewData["selproperty"]" />
                <input id="selindustry" type="text" name="selindustry" value="@ViewData["selindustry"]" />
                <input id="selregkey" type="text" name="selregkey" value="@ViewData["selregkey"]" />
                </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var filter = $("#selproperty").val() + "," + $("#selindustry").val();
        var list = filter.split(",");
        $("input[type=checkbox]").each(function () {
            $(this).attr("checked", $.inArray(this.value, list) > -1);
        });
    });
</script>