@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Models.T_XM_Investment>
@{
    Layout = null;
}
<script src="@Url.Content("~/Public/bootstrap/js/jquery.1.7.2.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Areas/MG/Content/css/wscss/news_css.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/MG/Content/css/wscss/style.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/MG/Content/css/wscss/qy.css")" rel="stylesheet" type="text/css" />
@helper GenerateIndustry()
    {
        foreach (var item in ViewData["Industry"] as SelectList)
        {
    <li>
        <input type="checkbox" name="cbIndustry" value="@item.Value"/><span>@item.Text</span></li>
        }
}
@helper GenerateTeamworkType()
    {
        foreach (var item in ViewData["TeamworkType"] as SelectList)
        {
    <li>
        <input type="checkbox" name="cbTeamworkType" value="@item.Value" /><span>@item.Text</span></li>
        }
}
@helper GenerateInvestmentStage()
    {
        foreach (var item in ViewData["InvestmentStage"] as SelectList)
        {
    <li>
        <input type="checkbox" name="cbInvestmentStage" value="@item.Value" /><span>@item.Text</span></li>
        }
}
@helper GenerateInvestmentNature()
    {
        foreach (var item in ViewData["InvestmentNature"] as SelectList)
        {
    <li>
        <input type="checkbox" name="cbInvestmentNature" value="@item.Value" /><span>@item.Text</span></li>
        }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=checkbox]").click(function () {
            if ($(this).attr("checked")) {
                $("#message").append($(this).next().html() + "|");
                if ($(this).attr("name") == "cbInvestmentNature") {
                    $("#condition1").attr("value", $("#condition1").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbTeamworkType") {
                    $("#condition2").attr("value", $("#condition2").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbIndustry") {
                    $("#condition3").attr("value", $("#condition3").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbInvestmentStage") {
                    $("#condition4").attr("value", $("#condition4").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbFinancial") {
                    $("#condition5").attr("value", $("#condition5").val() + "," + $(this).val());
                }
            }
            else {
                $("#message").text($("#message").text().replace($(this).next().html() + "|", ""));
                if ($(this).attr("name") == "cbInvestmentNature") {
                    $("#condition1").attr("value", $("#condition1").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbTeamworkType") {
                    $("#condition2").attr("value", $("#condition2").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbIndustry") {
                    $("#condition3").attr("value", $("#condition3").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbInvestmentStage") {
                    $("#condition4").attr("value", $("#condition4").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbFinancial") {
                    $("#condition5").attr("value", $("#condition5").val().replace("," + $(this).val(), ""));
                }
            }
            $("#context").attr("value", $("#message").text());
        });
        var filter = $("#condition1").val() + $("#condition2").val() + $("#condition3").val() + $("#condition4").val() + $("#condition5").val();
        var list = filter.split(",");
        $("input[type=checkbox]").each(function () {
            $(this).attr("checked", $.inArray(this.value, list) > -1);
        });
    });
</script>

@using (Html.BeginForm())
{
    <div class="article730">
        <div class="ts">
            <div class="p_mid">
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            已经选择：
                        </td>
                        <td><div id="message" name="mes" style="color:Red;">@ViewBag.context</div></td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按投资性质：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="newslist _qy">
                                    @GenerateInvestmentNature()
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按合作方式：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="newslist _qy">
                                    @GenerateTeamworkType()
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按意向行业：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="newslist _qy">
                                    @GenerateIndustry()
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按投资阶段：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="newslist _qy">
                                    @GenerateInvestmentStage()
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按资金范围：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="newslist _qy">
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="<10" title="1-10万" /><span>1-10万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 10 and 50" title="10-50万" /><span>10-50万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 50 and 100" title="50-100万" /><span>50-100万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 1 and 1000" title="500-1000万" /><span>500-1000万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 1000 and 5000" title="1000-5000万" /><span>1000-5000万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 5000 and 10000" title="5000万-1亿" /><span>5000万-1亿</span></li><br />
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value=">10000" title="大于1亿" /><span>大于1亿</span></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91"><label>
                            按项目名称：</label></td>
                        <td  align="left"><input type="text" name="keys"  />（输入项目名称关键字）
                        </td>
                        </tr>
                    </table>
                    <table width="728">
                    <tr>
                            <td align="right"><input type="submit" name="button" value="搜  索" class="btn_query" /></td>
                        </tr>
                    </table>
                <div class="ts-con">
                    <h3 class="ts-con-t">
                        <a href="#" class="first"><span class="_text">所有信息</span></a>
                    </h3>
                    <div class="ts-con-btn">
                        <span class="btn1">
                            <div class="icon">
                            </div>
                            <span class="_text">默认排序</span></span> <span class="btn1">
                                <div class="icon">
                                </div>
                                <span class="_text">回应数</span></span> <span class="btn1">
                                    <div class="icon">
                                    </div>
                                    <span class="_text">评论数</span></span> <span class="btn1">
                                        <div class="icon">
                                        </div>
                                        <span class="_text">收藏数</span></span> <span class="btn1">
                                            <div class="icon">
                                            </div>
                                            <span class="_text">点击数</span></span> <span class="lnum"><span class="_text">显示数量：</span> <a href="#">20</a><a href="#">30</a><a href="#">40</a> </span><span class="lselect"></span>
                    </div>
                    <div class="ts-list">
                        @foreach (var _model in Model)
                        {
                            var yy = "http://www.ovcstf.com/Default_759_" + _model.ID + ",1.html";
                            <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item content-tb">
                                <tr>
                                    <td colspan="2" align="left" class="tq-up-num">
                                        <a target="_blank" href="@yy" class="itemtitle">@_model.ItemName</a>
                                    </td>
                                    <td align="right">
                                        登记时间：@_model.CreateTime.Value.ToString("yyyy-MM-dd")
                                    </td>
                                    <td width="130" rowspan="4">
                                        <div class="ts-l-item-r">
                                            <p class="_addfocusbtn">
                                                <a href="#">+关注项目</a></p>
                                            <p class="_focusnum">
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="_label">发布用户：</span>@_model.MemberName
                                    </td>
                                    <td>
                                        <span class="_label">投资金额：</span>@_model.Investment 万人民币
                                    </td>
                                     <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <span class="ts-l-item-desc">
                                            @if (_model.Description.Length > 200)
                                            {
                                                <span>@_model.Description.Substring(0, 200)...</span>
                                            }
                                            else
                                            {
                                                <span>@_model.Description.Substring(0, _model.Description.Length)</span>
                                            }
                                            <a target="_blank" href="@yy">【查看详情】</a></span>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (ViewBag.Message != null)
    {
        <span style="font-weight:bold; font-size:large;">@ViewBag.Message</span>
    }
    <div id="pager">
        @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new AjaxOptions { HttpMethod = "GET" })
    </div>
    <div style="visibility:hidden">
                <input id="condition1" type="text" name="condition1" value="@ViewBag.condition1" />
                <input id="condition2" type="text" name="condition2" value="@ViewBag.condition2" />
                <input id="condition3" type="text" name="condition3" value="@ViewBag.condition3" />
                <input id="condition4" type="text" name="condition4" value="@ViewBag.condition4" />
                <input id="condition5" type="text" name="condition5" value="@ViewBag.condition5" />
                <input id="context" type="text" name="context" value="@ViewBag.context" /></div>
}
