@model GGZBTQPT_PRO.Models.T_XM_Investment

@{
    ViewBag.Title = "Create";
    Layout = null;
}
@helper GenerateIndustry()
{
    var i = 0;
    foreach (var item in ViewData["Industry"] as SelectList)
    {
        if (i % 6 == 0 && i != 0)
        {
            @:</tr><tr>
        }
        @:<td><input type="checkbox"  name="cbIndustry" value="@item.Value" /><span>@item.Text</span></td>
        i++;
    }
}
@helper GenerateProvince()
{
    var i = 0;
    foreach (var item in ViewData["Province"] as SelectList)
    {
        if (i % 6 == 0 && i != 0)
        {
            @:</tr><tr>
        }
        @:<td><input type="checkbox" name="cbProvince" value="@item.Value" /><span>@item.Text</span></td>
        i++;
    }
}
@helper GenerateTeamWorkType()
{
    var i = 0;
    foreach (var item in ViewData["TeamworkType"] as SelectList)
    {
        if (i % 6 == 0 && i != 0)
        {
            @:</tr><tr>
        }
        @:<td><input type="checkbox" name="cbTeamWorkType" value="@item.Value" /><span>@item.Text</span></td>
        i++;
    }
}
<script type="text/javascript">
    $(function () {
        $("#Province").change(function () { GetPlant() });
    });

    function GetPlant() {
        $("#ddlCity").empty();
        var url = "/XM_RZ/GetCity/?ParentCode=" + $("#Province").val();
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("<option></option>")
                    .val(item["Code"])
                    .text(item["Name"])
                    .appendTo($("#ddlCity"));

            });
        });
    }
</script>

@using (Html.BeginForm("Create", "XM_TZ", FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
{
    @Html.ValidationSummary(true)
        <table style="width:100%">
            <tr>
                <td colspan="2" style="background-color:#666666; color:#ffffff">基本信息</td>
            </tr>
            <tr>
                <td style="width:80px">@Html.LabelFor(model => model.ItemName, "投资意向标题")</td>
                <td>@Html.TextBoxFor(model => model.ItemName, new { style = "width:95%" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Province, "所属区域")</td>
                <td>@Html.DropDownList("Province", "请选择")<select id="ddlCity" name="ddlCity"><option value="-1">请选择</option></select></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Industry, "所属行业")</td>
                <td>@Html.DropDownList("Industry", "请选择")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ValidDate, "有效日期")</td>
                <td>@Html.EditorFor(model => model.ValidDate)
            @Html.ValidationMessageFor(model => model.ValidDate)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Keys, "关键词")</td>
                <td>@Html.EditorFor(model => model.Keys)
            @Html.ValidationMessageFor(model => model.Keys)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Description, "投资意向描述")</td>
                <td>@Html.TextAreaFor(model => model.Description, new { rows = "8", style = "width:95%" })</td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <td colspan="4" style="background-color:#666666; color:#ffffff">投资信息</td>
            </tr>
            <tr>
                <td style="width:80px">@Html.LabelFor(model => model.Investment, "可投资金额")</td>
                <td>@Html.EditorFor(model => model.Investment)（万元）
            @Html.ValidationMessageFor(model => model.Investment)</td>
                <td>@Html.LabelFor(model => model.StartInvestment, "起始投资金额")</td>
                <td>@Html.EditorFor(model => model.StartInvestment)（万元）
            @Html.ValidationMessageFor(model => model.StartInvestment)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.AimIndustry, "意向行业")</td>
                <td colspan="3"><table width="100%">
                    <tr>
                    @GenerateIndustry()
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ReturnRatio, "预期回报率")</td>
                <td>@Html.EditorFor(model => model.ReturnRatio)（%/年）
            @Html.ValidationMessageFor(model => model.ReturnRatio)</td>
                <td>@Html.LabelFor(model => model.InvestmentPeriod, "投资期限")</td>
                <td>@Html.EditorFor(model => model.InvestmentPeriod)（月）
            @Html.ValidationMessageFor(model => model.InvestmentPeriod)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.AjmArea, "投资地区")</td>
                <td colspan="3"><table width="100%">
                    <tr>
                    @GenerateProvince()
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.TeamworkType, "合作方式")</td>
                <td colspan="3"><table width="100%">
                    <tr>
                    @GenerateTeamWorkType()
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.PartnerRequirements, "合作方要求")</td>
                <td colspan="3">@Html.TextAreaFor(model => model.PartnerRequirements, new { rows = "5", style = "width:95%" })</td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <td colspan="4" style="background-color:#666666; color:#ffffff">联系人信息</td>
            </tr>
            <tr>
                <td style="width:80px">@Html.LabelFor(model => model.Linkman, "联系人")</td>
                <td>@Html.EditorFor(model => model.Linkman)
            @Html.ValidationMessageFor(model => model.Linkman)</td>
                <td>@Html.LabelFor(model => model.Position, "部门&职务")</td>
                <td>@Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Phone, "固定电话")</td>
                <td>@Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)</td>
                <td>@Html.LabelFor(model => model.Mobile, "移动电话")</td>
                <td>@Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Fax, "传真")</td>
                <td>@Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)</td>
                <td>@Html.LabelFor(model => model.Email, "电子邮箱")</td>
                <td>@Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.QQ, "QQ")</td>
                <td colspan="3">@Html.EditorFor(model => model.QQ)
            @Html.ValidationMessageFor(model => model.QQ)</td>
            </tr>
        </table>
        <p>
            <input type="submit" value="提交" />
        </p>
}
