@model GGZBTQPT_PRO.Models.T_XM_Investment

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>T_XM_Investment</legend>
        <table style="width:100%">
            <tr>
                <td colspan="2" style="background-color:#666666; color:#ffffff">基本信息</td>
            </tr>
            <tr>
                <td style="width:120px">@Html.LabelFor(model => model.ItemName,"项目名称")</td>
                <td>@Html.EditorFor(model => model.ItemName)
            @Html.ValidationMessageFor(model => model.ItemName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Province,"所属区域")</td>
                <td>@Html.DropDownList("Province", "请选择")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Industry, "所属行业")</td>
                <td>@Html.DropDownList("Industry", "请选择")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ValidDate, "有效日期")</td>
                <td>@Html.EditorFor(model => model.ValidDate)
            @Html.ValidationMessageFor(model => model.ValidDate)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Keys, "关键词")</td>
                <td>@Html.EditorFor(model => model.Keys)
            @Html.ValidationMessageFor(model => model.Keys)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Description, "投资意向介绍")</td>
                <td>@Html.TextAreaFor(model => model.Description, new { rows = "5" })
            @Html.ValidationMessageFor(model => model.Description)</td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <td colspan="4" style="background-color:#666666; color:#ffffff">融资信息</td>
            </tr>
            <tr>
                <td style="width:120px">@Html.LabelFor(model => model.Investment, "可投资金额")</td>
                <td>@Html.EditorFor(model => model.Investment)
            @Html.ValidationMessageFor(model => model.Investment)</td>
                <td>@Html.LabelFor(model => model.StartInvestment, "起始投资金额")</td>
                <td>@Html.EditorFor(model => model.StartInvestment)
            @Html.ValidationMessageFor(model => model.StartInvestment)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.AimIndustry, "意向行业")</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ReturnRatio, "预期回报率")</td>
                <td>@Html.EditorFor(model => model.ReturnRatio)
            @Html.ValidationMessageFor(model => model.ReturnRatio)</td>
                <td>@Html.LabelFor(model => model.InvestmentPeriod, "投资期限")</td>
                <td>@Html.EditorFor(model => model.InvestmentPeriod)
            @Html.ValidationMessageFor(model => model.InvestmentPeriod)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.AjmArea, "投资地区")</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.TeamworkType, "合作方式")</td>
                <td colspan="3">@Html.EditorFor(model => model.TeamworkType)
            @Html.ValidationMessageFor(model => model.TeamworkType)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.PartnerRequirements, "合作方要求")</td>
                <td colspan="3">@Html.EditorFor(model => model.PartnerRequirements)
            @Html.ValidationMessageFor(model => model.PartnerRequirements)</td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <td colspan="4" style="background-color:#666666; color:#ffffff">联系人信息</td>
            </tr>
            <tr>
                <td style="width:120px">@Html.LabelFor(model => model.Linkman, "联系人")</td>
                <td>@Html.EditorFor(model => model.Linkman)
            @Html.ValidationMessageFor(model => model.Linkman)</td>
                <td>@Html.LabelFor(model => model.Position, "部门&职务")</td>
                <td>@Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Phone, "固定电话")</td>
                <td>@Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)</td>
                <td>@Html.LabelFor(model => model.Mobile, "移动电话")</td>
                <td>@Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Fax, "传真")</td>
                <td>@Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)</td>
                <td>@Html.LabelFor(model => model.Email, "电子邮箱")</td>
                <td>@Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.QQ, "QQ")</td>
                <td colspan="3">@Html.EditorFor(model => model.QQ)
            @Html.ValidationMessageFor(model => model.QQ)</td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>
