@model GGZBTQPT_PRO.Models.T_XM_Investment

@{
    ViewBag.Title = "Edit";
    Layout = null;
}
@helper GenerateIndustry(string selected_Industry)
    {
        var i = 0;
        foreach (var item in ViewData["Industry"] as SelectList)
        {
            if (i % 6 == 0 && i != 0)
            {
                @:</tr><tr>
            }
            if (selected_Industry != null && selected_Industry.IndexOf(@item.Value) >= 0)
            {
                @:<td><input type="checkbox" name="cbIndustry" value="@item.Value" checked="checked" /><span>@item.Text</span></td>
            }
            else
            {
                @:<td><input type="checkbox" name="cbIndustry" value="@item.Value" /><span>@item.Text</span></td>
            }
            i++;
        }
}
@helper GenerateProvince(string selected_Province)
    {
        var i = 0;
        foreach (var item in ViewData["Province"] as SelectList)
        {
            if (i % 6 == 0 && i != 0)
            {
                @:</tr><tr>
            }
            if (selected_Province != null && selected_Province.IndexOf(@item.Value) >= 0)
            {
                @:<td><input type="checkbox" name="cbProvince" value="@item.Value" checked="checked" /><span>@item.Text</span></td>
            }
            else
            {
                 @:<td><input type="checkbox" name="cbProvince" value="@item.Value" /><span>@item.Text</span></td>
            }
            i++;
        }
}
@helper GenerateTeamWorkType(string selected_TeamWorkType)
    {
        var i = 0;
        foreach (var item in ViewData["TeamworkType"] as SelectList)
        {
            if (i % 6 == 0 && i != 0)
            {
                @:</tr><tr>
            }
            if (selected_TeamWorkType != null && selected_TeamWorkType.IndexOf(@item.Value) >= 0)
            {
                @:<td><input type="checkbox" name="cbTeamWorkType" value="@item.Value" checked="checked" /><span>@item.Text</span></td>
            }
            else
            {
                 @:<td><input type="checkbox" name="cbTeamWorkType" value="@item.Value" /><span>@item.Text</span></td>
            }
            i++;
        }
}
<script type="text/javascript">
    $(function () {
        GetPlant();
        $("#Province").change(function () { GetPlant() });
    });

    function GetPlant() {
        $("#ddlCity").empty();
        //var url = "/XM_RZ/GetCity/?ParentCode=" + $("#Province").val();
        var url = "@Url.Action("GetCity", "XM_RZ")" + "?ParentCode=" + $("#Province").val();
        $.ajaxSettings.async = false;
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("<option></option>")
                    .val(item["Code"])
                    .text(item["Name"])
                    .appendTo($("#ddlCity"));

            });
        });
        var ct = $("#City").val();
        $("#ddlCity").find("option[value='" + ct + "']").attr("selected", true);
    }
</script>

<div class="pageContent">

@using (Html.BeginForm("Edit", "XM_TZ", FormMethod.Post, new { onsubmit = "return iframeCallback(this,dialogAjaxDone);", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.City)
        @Html.HiddenFor(model => model.IsValid)
        @Html.HiddenFor(model => model.PublicStatus)
        @Html.HiddenFor(model => model.PublicTime)
        @Html.HiddenFor(model => model.OP)
        @Html.HiddenFor(model => model.SubmitTime)
        @Html.HiddenFor(model => model.CreateTime)
        @Html.HiddenFor(model => model.UpdateTime)
        @Html.HiddenFor(model => model.MemberID)
        @Html.HiddenFor(model => model.Pic)
        <div class="pageFormContent" layouth="60">

        <table style="width:100%; border-spacing:3px">
            <tr>
                <td colspan="2" style="height:25px; font-weight:bold">基本信息</td>
            </tr>
            <tr>
                <td style="width:80px">@Html.LabelFor(model => model.ItemName, "投资意向标题")</td>
                <td>@Html.TextBoxFor(model => model.ItemName, new { style = "width:780px" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Province, "所属区域")</td>
                <td>@Html.DropDownList("Province")<select id="ddlCity" name="ddlCity"><option value="请选择"></option></select></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Industry, "所属行业")</td>
                <td>@Html.DropDownList("Industry")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ValidDate, "有效日期")</td>
                <td>@Html.TextBoxFor(m => m.ValidDate, new { @class = "date", @Value = string.Format("{0:yyyy-MM-dd}", Model.ValidDate) })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Keys, "关键词")</td>
                <td>@Html.TextBoxFor(model => model.Keys, new { style = "width:780px" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Description, "投资意向描述")</td>
                <td>@Html.TextAreaFor(m => m.Description, new { @class = "editor", @rows = "15", @Value = Model.Description })</td>
            </tr>
        </table>
        <table style="width:100%; border-spacing:3px">
            <tr>
                <td colspan="4" style="height:25px; font-weight:bold">投资信息</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.Investment, "可投资金额")</td>
                <td style="width:300px">@Html.EditorFor(model => model.Investment)（万元）</td>
                <td style="width:140px">@Html.LabelFor(model => model.StartInvestment, "起始投资金额")</td>
                <td>@Html.EditorFor(model => model.StartInvestment)（万元）</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.AimIndustry, "意向行业")</td>
                <td colspan="3">
                <table width="800px">
                    <tr>
                    @GenerateIndustry(Model.AimIndustry)
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ReturnRatio, "预期回报率")</td>
                <td>@Html.EditorFor(model => model.ReturnRatio)（%/年）</td>
                <td>@Html.LabelFor(model => model.InvestmentPeriod, "投资期限")</td>
                <td>@Html.EditorFor(model => model.InvestmentPeriod)（月）</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.AjmArea, "投资地区")</td>
                <td colspan="3">
                <table width="800px">
                    <tr>
                    @GenerateProvince(Model.AjmArea)
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.TeamworkType, "合作方式")</td>
                <td colspan="3">
                <table width="800px">
                    <tr>
                    @GenerateTeamWorkType(Model.TeamworkType)
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.PartnerRequirements, "合作方要求")</td>
                <td colspan="3">@Html.TextAreaFor(model => model.PartnerRequirements, new { rows = "5", style = "width:780px" })</td>
            </tr>
        </table>
        <table style="width:100%; border-spacing:3px">
            <tr>
                <td colspan="4" style="height:25px; font-weight:bold">联系人信息</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.Linkman, "联系人")</td>
                <td style="width:300px">@Html.EditorFor(model => model.Linkman)
            @Html.ValidationMessageFor(model => model.Linkman)</td>
                <td style="width:140px">@Html.LabelFor(model => model.Position, "部门&职务")</td>
                <td>@Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Phone, "固定电话")</td>
                <td>@Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)</td>
                <td>@Html.LabelFor(model => model.Mobile, "移动电话")</td>
                <td>@Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Fax, "传真")</td>
                <td>@Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)</td>
                <td>@Html.LabelFor(model => model.Email, "电子邮箱")</td>
                <td>@Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.QQ, "QQ")</td>
                <td colspan="3">@Html.EditorFor(model => model.QQ)
            @Html.ValidationMessageFor(model => model.QQ)</td>
            </tr>
        </table>
        <table style="width:100%; border-spacing:3px">
        <tr>
            <td style="width: 140px">项目图片
            </td>
            <td>
                <input type="file" name="file1" />
                <div>
                    <img width="200px" height="90px" id="logo_preview" src='@Url.Action("ShowPic", "XM_TZ", new { xm_id = Model.ID })'  alt="@Model.ItemName" /></div>
               
            </td>
        </tr>
        </table>
    </div>
    
    <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit" value="保存设置">
                                保存设置</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close" value="取消">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
}
</div>
