@model IEnumerable<GGZBTQPT_PRO.Models.T_XM_Investment>

@{
    Layout = null;
}
<link href="@Url.Content("~/Content/css/Style.css")" rel="stylesheet" type="text/css" />
@helper GenerateIndustry()
    {
        foreach (var item in ViewData["Industry"] as SelectList)
        {
    <li>
        <input type="checkbox" name="cbIndustry" value="@item.Value"/><span>@item.Text</span></li>
        }
}
@helper GenerateTeamworkType()
    {
        foreach (var item in ViewData["TeamworkType"] as SelectList)
        {
    <li>
        <input type="checkbox" name="cbTeamworkType" value="@item.Value" /><span>@item.Text</span></li>
        }
}
@helper GenerateInvestmentStage()
    {
        foreach (var item in ViewData["InvestmentStage"] as SelectList)
        {
    <li>
        <input type="checkbox" name="cbInvestmentStage" value="@item.Value" /><span>@item.Text</span></li>
        }
}
@helper GenerateInvestmentNature()
    {
        foreach (var item in ViewData["InvestmentNature"] as SelectList)
        {
    <li>
        <input type="checkbox" name="cbInvestmentNature" value="@item.Value" /><span>@item.Text</span></li>
        }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=checkbox]").click(function () {
            if ($(this).attr("checked")) {
                $("#message").append($(this).next().html() + "|");
                if ($(this).attr("name") == "cbInvestmentNature") {
                    $("#condition1").attr("value", $("#condition1").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbTeamworkType") {
                    $("#condition2").attr("value", $("#condition2").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbIndustry") {
                    $("#condition3").attr("value", $("#condition3").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbInvestmentStage") {
                    $("#condition4").attr("value", $("#condition4").val() + "," + $(this).val());
                }
                if ($(this).attr("name") == "cbFinancial") {
                    $("#condition5").attr("value", $("#condition5").val() + "," + $(this).val());
                }
            }
            else {
                $("#message").text($("#message").text().replace($(this).next().html() + "|", ""));
                if ($(this).attr("name") == "cbInvestmentNature") {
                    $("#condition1").attr("value", $("#condition1").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbTeamworkType") {
                    $("#condition2").attr("value", $("#condition2").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbIndustry") {
                    $("#condition3").attr("value", $("#condition3").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbInvestmentStage") {
                    $("#condition4").attr("value", $("#condition4").val().replace("," + $(this).val(), ""));
                }
                if ($(this).attr("name") == "cbFinancial") {
                    $("#condition5").attr("value", $("#condition5").val().replace("," + $(this).val(), ""));
                }
            }
            $("#context").attr("value", $("#message").text());
        });
        var filter = $("#condition1").val() + $("#condition2").val() + $("#condition3").val() + $("#condition4").val() + $("#condition5").val();
        var list = filter.split(",");
        $("input[type=checkbox]").each(function () {
            $(this).attr("checked", $.inArray(this.value, list) > -1);
        });
    });
</script>
<div class="pageHeader">
<form id="pagerForm" method="post" action="@Url.Action("TZQuery")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    <input type="hidden" name="condition1" value="@ViewBag.condition1" />
    <inpu type="hidden" name="condition2" value="@ViewBag.condition2" />
    <input type="hidden" name="condition3" value="@ViewBag.condition3" />
    <input type="hidden" name="condition4" value="@ViewBag.condition4" />
    <input type="hidden" name="condition5" value="@ViewBag.condition5" />
    <input type="hidden" name="context" value="@ViewBag.context" />
    <input type="hidden" name="keys"  value="@ViewBag.keys"  />
    </form>
    <form onsubmit="return navTabSearch(this);" action="@Url.Action("TZQuery")" method="post">
    <div class="searchBar">
                <input id="condition1" type="hidden" name="condition1" value="@ViewBag.condition1" />
                <input id="condition2" type="hidden" name="condition2" value="@ViewBag.condition2" />
                <input id="condition3" type="hidden" name="condition3" value="@ViewBag.condition3" />
                <input id="condition4" type="hidden" name="condition4" value="@ViewBag.condition4" />
                <input id="condition5" type="hidden" name="condition5" value="@ViewBag.condition5" />
                <input id="context" type="hidden" name="context" value="@ViewBag.context" />
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按项目名称：</td>
                        <td  align="left"><input type="text" id="keys" name="keys" value="@ViewBag.keys" />（输入项目名称关键字）
                        </td>
                        </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb" style="display:none">
                    <tr>
                        <td width="91">
                            已经选择：
                        </td>
                        <td><div id="message" name="mes" style="color:Red;">@ViewBag.context</div></td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按投资性质：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="querylist">
                                    @GenerateInvestmentNature()
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按合作方式：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="querylist">
                                    @GenerateTeamworkType()
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按意向行业：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="querylist">
                                    @GenerateIndustry()
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按投资阶段：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="querylist">
                                    @GenerateInvestmentStage()
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <table width="728" border="0" align="center" cellpadding="0" cellspacing="0" class="ts-l-item form-tb">
                    <tr>
                        <td width="91">
                            按资金范围：
                        </td>
                        <td width="637" colspan="7">
                            <div class="newsbox">
                                <ul class="querylist">
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="<10" title="1-10万" /><span>1-10万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 10 and 100" title="10-100万" /><span>10-100万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 100 and 500" title="100-500万" /><span>100-500万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 500 and 1000" title="500-1000万" /><span>500-1000万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 1000 and 5000" title="1000-5000万" /><span>1000-5000万</span></li>
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value="between 5000 and 10000" title="5000万-1亿" /><span>5000万-1亿</span></li><br />
                                    <li>
                                        <input type="checkbox" name="cbFinancial" value=">10000" title="大于1亿" /><span>大于1亿</span></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="subBar">
                    <ul>
                        <li>
                            <div class="buttonActive">
                                <div class="buttonContent">
                                    <button type="submit">
                                        检索</button></div>
                            </div>
                        </li>
                    </ul>
                </div>
  </div>
  </form>
  </div>
<div class="pageContent">
    <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="@Url.Action("create", "XM_TZ")" rel="create" target="dialog" title="添加新项目" mask="true" max="true"><span>添加</span></a></li>
      <li><a class="edit" href="@Url.Action("edit", "XM_TZ", new { id = "{mid}" })" rel="edit" target="dialog" title="编辑项目信息" mask="true" warn="请选择一个项目" max="true"><span>修改</span></a></li>
      <li><a class="delete" href="@Url.Action("delete", "XM_TZ", new { id = "{mid}" })" rel="delete" target="ajaxTodo" title="确定要删除吗？"  warn="请选择一个项目"><span>删除</span></a></li>
    </ul>
  </div>
    <div layouth="321">         
            <table class="list" width="100%" asc="asc" desc="desc">
      <thead>
        <tr>
            <th>
                项目名称
            </th>
            <th>
                所属行业
            </th>
            <th>
                有效日期
            </th>
    </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
            <tr target="mid" rel=@item.ID>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndustryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidDate)
            </td>
            </tr>
        }
      </tbody>
    </table>
    </div>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 15, 25, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>


</div>