
﻿@model IEnumerable<GGZBTQPT_PRO.Models.T_QY_Corp>
@{
    Layout = null;
}
<div class="pageContent j-resizeGrid" style="border-left: 1px #B8D0D6 solid; border-right: 1px #B8D0D6 solid">
<form id="pagerForm" method="post" action="@Url.Action("Index")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    </form>
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="@Url.Action("create", "QY_Corp")" rel="create" target="dialog" title="添加新的功能菜单" mask="true" width="600" height="650"><span>添加</span></a></li>
      <li><a class="edit" href="@Url.Action("edit", "QY_Corp", new { id = "{mid}" })" rel="edit" target="dialog" title="编辑功能菜单信息" mask="true" warn="请选择一条菜单数据" width="600" height="650"><span>修改</span></a></li>
      <li><a class="delete" href="@Url.Action("delete", "QY_Corp", new { id = "{mid}" })" rel="delete" target="ajaxTodo" title="确定要删除吗？"  warn="请选择一条菜单数据"><span>删除</span></a></li>
      <li class="line">line</li>
      <li><a class="icon" href="#"><span>导入EXCEL</span></a></li>
    </ul>
  </div>
  <div layouth="116">
    <table class="list" width="100%" asc="asc" desc="desc">
      <thead>
        <tr>
            <th>
                企业名称
            </th>
            <th>
                机构代码
            </th>
            <th>
                成立时间
            </th>
            <th>
                企业性质
            </th>
            <th>
                所属行业
            </th>
    </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
            <tr target="mid" rel=@item.ID>
            <td>
                @Html.DisplayFor(modelItem => item.CorpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndustryName)
            </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 5, 10, 20, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>
