
@helper FullDetails(int member_type, int detail_id)
{
    switch (member_type)
    {
        case 1:
            @Ajax.ActionLink("详细信息", "Edit", "Person", new { id = detail_id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "detail", LoadingElementId = "Loading" })
        break;
        case 2:
            @Ajax.ActionLink("详细设置", "Edit", "Corp", new { id = detail_id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "detail", LoadingElementId = "Loading" })
        break;
        case 3:
            @Ajax.ActionLink("详细设置", "Edit", "Agency", new { id = detail_id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "detail", LoadingElementId = "Loading" })
        break;
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#config li a").click(function (e) {
            e.preventDefault();
            $("#config li").removeClass("active");
            $(this).parent("li").addClass("active");
        });
        $("#config li.active a").click();

        function notice(data) {
            $("#config li.active a").click();
            $.Member.notice(data);
        }
    }); 
</script>

<h3 class="content-title">
    个人设置</h3>
<ul class="nav nav-tabs" id="config">
    <li class="active">
        @Ajax.ActionLink("基本设置", "Edit", "Member", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "detail", LoadingElementId = "Loading" })
    </li>
    <li>
        @FullDetails(ViewBag.MemberType, ViewBag.MemberDetailID)
    </li>
</ul>
<div id="detail">
</div>
