@model GGZBTQPT_PRO.Models.T_HY_Member

<div class="control-group">
<label class="control-label"></label>
</div>
    <div class="display-label">
        LoginName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoginName)
    </div>
    <div class="display-label">
        Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>
    <div class="display-label">
        CellPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CellPhone)
    </div>
    <div class="display-label">
        Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>
    <div class="display-label">
        Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>
    <div class="display-label">
        IsValid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsValid)
    </div>
    <div class="display-label">
        CreatedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>
    <div class="display-label">
        UpdatedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
