@model GGZBTQPT_PRO.Models.T_XM_Financing

@{
    ViewBag.Title = "发布融资信息";
    Layout = null;
}
@helper GenerateTransactionMode()
    {
    var i = 0;
    foreach (var item in ViewData["TransactionMode"] as SelectList)
    {
        if (i % 6 == 0)
        {
            <br />
        }
        <input type="checkbox" name="TransactionMode" value="@item.Value" /><span>@item.Text</span>
        i++;
    }
}
<script type="text/javascript">
    $(function () {
        GetPlant();
        $("#item2").hide();
        $("#item3").hide();
        $("#item4").hide();
        $("#Province").change(function () { GetPlant() });
        $("input:radio").change(function () {
            var checked = $("input[name='itemtype']:checked").val();
            if (checked == "1") {
                $("#item1").show();
                $("#item2").hide();
                $("#item3").hide();
                $("#item4").hide();
            }
            if (checked == "2") {
                $("#item1").hide();
                $("#item2").show();
                $("#item3").hide();
                $("#item4").hide();
            }
            if (checked == "3") {
                $("#item1").hide();
                $("#item2").hide();
                $("#item3").show();
                $("#item4").hide();
            }
            if (checked == "9") {
                $("#item1").hide();
                $("#item2").hide();
                $("#item3").hide();
                $("#item4").show();
            }
        });
    });

        function GetPlant() {
            $("#ddlCity").empty();

            //var url = "/XM_RZ/GetCity/?ParentCode=" + $("#Province").val();
            var url = "@Url.Action("GetCity", "XM_RZ")" + "?ParentCode=" + $("#Province").val();

            $.getJSON(url, function (data) {
                $.each(data, function (i, item) {
                    $("<option></option>")
                    .val(item["Code"])
                    .text(item["Name"])
                    .appendTo($("#ddlCity"));

                });
            });
        }
</script>
<script type="text/javascript">
    $.validator.unobtrusive.parse(document);
</script>
<div class="pageContent">
@using (Html.BeginForm("Create", "XM_RZ", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return iframeCallback(this,dialogAjaxDone);" }))
{
    @Html.ValidationSummary(true)
    
        
        <div class="pageFormContent" layouth="60">
        <p>选择项目类别：
        <input type="radio" name="itemtype" value="1" checked="checked" /><span>项目融资</span>
        <input type="radio" name="itemtype" value="2" /><span>资产交易</span>
        <input type="radio" name="itemtype" value="3" /><span>政府招商</span>
        <input type="radio" name="itemtype" value="9" /><span>其他</span></p>
        <table style="width: 100%; border-spacing:3px">
            <tr>
                <td colspan="2" style="height:25px; font-weight:bold">基本信息</td>
            </tr>
            <tr>
                <td style="width:80px">@Html.LabelFor(model => model.ItemName, "项目名称")</td>
                <td>@Html.TextBoxFor(model => model.ItemName, new { style = "width:780px" })
                 @Html.ValidationMessageFor(model => model.ItemName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Province, "所属区域")</td>
                <td>@Html.DropDownList("Province")<select id="ddlCity" name="ddlCity"><option value="-1">请选择</option></select></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Industry, "所属行业")</td>
                <td>@Html.DropDownList("Industry")
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ValidDate, "有效日期")</td>
                <td>@Html.TextBoxFor(m => m.ValidDate, new { @class = "date", @Value = string.Format("{0:yyyy-MM-dd}", Model.ValidDate) })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Keys, "关键词")</td>
                <td>@Html.TextBoxFor(model => model.Keys, new { style = "width:780px" })</td>
            </tr>
            <tr>
                <td style="width:80px">@Html.LabelFor(model => model.ItemContent, "项目介绍")</td>
                <td>@Html.TextAreaFor(m => m.ItemContent, new { @class = "editor",@rows="15", @Value = Model.ItemContent })</td>
            </tr>
        </table>
        <table id="item1" style="width:100%; border-spacing:3px">
            <tr>
                <td colspan="4" style="height:25px; font-weight:bold">项目融资</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.FinancSum, "融资金额")</td>
                <td style="width:240px">@Html.EditorFor(model => model.FinancSum)（万元）
            @Html.ValidationMessageFor(model => model.FinancSum)</td>
                <td style="width:140px">@Html.LabelFor(model => model.FinancType, "融资方式")</td>
                <td>@Html.DropDownList("FinancType")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.FinancCycle, "融资期限")</td>
                <td>@Html.EditorFor(model => model.FinancCycle)（月）
            @Html.ValidationMessageFor(model => model.FinancCycle)</td>
                <td>@Html.LabelFor(model => model.TotalInvestment, "项目总投资")</td>
                <td>@Html.EditorFor(model => model.TotalInvestment)（万元）
            @Html.ValidationMessageFor(model => model.TotalInvestment)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ReturnRatio, "预计回报率")</td>
                <td>@Html.EditorFor(model => model.ReturnRatio)（%/年）
            @Html.ValidationMessageFor(model => model.ReturnRatio)</td>
                <td>@Html.LabelFor(model => model.ItemStage, "项目阶段")</td>
                <td>@Html.DropDownList("ItemStage")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ItemValue, "项目评估价值")</td>
                <td>@Html.EditorFor(model => model.ItemValue)（万元）
            @Html.ValidationMessageFor(model => model.ItemValue)</td>
                <td>@Html.LabelFor(model => model.Assure, "担保说明")</td>
                <td>@Html.EditorFor(model => model.Assure)
            @Html.ValidationMessageFor(model => model.Assure)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Collateral, "抵质押物")</td>
                <td colspan="3">@Html.EditorFor(model => model.Collateral)
            @Html.ValidationMessageFor(model => model.Collateral)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.PartnerRequirements, "合作方要求")</td>
                <td colspan="3">@Html.TextAreaFor(model => model.PartnerRequirements, new { rows = "5", style = "width:780px" })</td>
            </tr>
        </table>
        <table id="item2" style="width:100%; border-spacing:3px">
            <tr>
                <td colspan="4" style="height:25px; font-weight:bold">资产交易</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.AssetsType, "资产类别")</td>
                <td style="width:240px">@Html.DropDownList("AssetsType")</td>
                <td style="width:140px">@Html.LabelFor(model => model.AssetsCost, "资产估价")</td>
                <td>@Html.EditorFor(model => model.AssetsCost)万元</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.IsMortgage, "是否抵质押")</td>
                <td>@Html.RadioButtonFor(model => model.IsMortgage, 1, new { @id = "radio2", @name = "IsMortgage" })是
                    @Html.RadioButtonFor(model => model.IsMortgage, 2, new { @id = "radio1", @name = "IsMortgage" })否
                </td>
                <td>@Html.LabelFor(model => model.TransferPrice, "转让价格")</td>
                <td>@Html.EditorFor(model => model.TransferPrice)万元</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.TransferType, "转让形式")</td>
                <td>@Html.RadioButtonFor(model => model.TransferType, 1, new { @id = "radio2", @name = "rdolstState" })整体
                    @Html.RadioButtonFor(model => model.TransferType, 2, new { @id = "radio1", @name = "rdolstState" })部分
                </td>
                <td>@Html.LabelFor(model => model.TransactionMode, "交易方式")</td> 
                <td>@GenerateTransactionMode()</td>
            </tr>
        </table>
        <table id="item3" style="width:100%; border-spacing:3px">
            <tr>
                <td colspan="4" style="height:25px; font-weight:bold">政府招商</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.Investment, "招商投资总额")</td>
                <td style="width:240px">@Html.EditorFor(model => model.Investment) 万元</td>
                <td style="width:140px">@Html.LabelFor(model => model.CooperationMode, "合作方式")</td>
                <td>@Html.DropDownList("CooperationMode")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.BuildCycle, "预计项目所用时间")</td>
                <td>@Html.EditorFor(model => model.BuildCycle) 月</td>
                <td>@Html.LabelFor(model => model.ReturnCycle, "投资回收期")</td>
                <td>@Html.EditorFor(model => model.ReturnCycle) 月</td>
            </tr>
        </table>
        <table id="item4" style="width:100%; border-spacing:3px">
            <tr>
                <td colspan="4" style="height:25px; font-weight:bold">其他项目</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.OtherItemFinancSum, "融资金额")</td>
                <td style="width:240px">@Html.EditorFor(model => model.OtherItemFinancSum)万元</td>
                <td style="width:140px">@Html.LabelFor(model => model.OtherItemFinancSum, "融资期限")</td>
                <td>@Html.EditorFor(model => model.OtherItemFinancSum)</td>
            </tr>
        </table>
        <table style="width: 100%; border-spacing:3px">
            <tr>
                <td colspan="4" style="height:25px; font-weight:bold">联系人信息</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.Linkman, "联系人")</td>
                <td style="width:240px">@Html.EditorFor(model => model.Linkman)
            @Html.ValidationMessageFor(model => model.Linkman)</td>
                <td style="width:140px">@Html.LabelFor(model => model.Position, "部门&职务")</td>
                <td>@Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Phone, "固定电话")</td>
                <td>@Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)</td>
                <td>@Html.LabelFor(model => model.Mobile, "移动电话")</td>
                <td>@Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Fax, "传真")</td>
                <td>@Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)</td>
                <td>@Html.LabelFor(model => model.Email, "电子邮箱")</td>
                <td>@Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.QQ, "QQ")</td>
                <td colspan="3">@Html.EditorFor(model => model.QQ)
            @Html.ValidationMessageFor(model => model.QQ)</td>
            </tr>
        </table>
        <table style="width: 100%; border-spacing:3px">
        <tr>
                <td style="width:140px">项目图片
                </td>
                <td>
                    <input type="file" name="file1" />
                </td>
            </tr>
        </table>
        </div>
    
    <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit" value="提交">
                                提交</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close" value="取消">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
}
</div>
