<<<<<<< HEAD
﻿@model IEnumerable<GGZBTQPT_PRO.Models.T_XM_Financing>
@{
    Layout = null;
}

<div class="pageContent j-resizeGrid" style="border-left: 1px #B8D0D6 solid; border-right: 1px #B8D0D6 solid">
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="@Url.Action("create", "XM_RZ")" rel="create" target="dialog" title="添加新项目" mask="true" width="650" height="620"><span>添加</span></a></li>
      <li><a class="edit" href="@Url.Action("edit", "XM_RZ", new { id = "{mid}" })" rel="edit" target="dialog" title="编辑项目信息" mask="true" warn="请选择一个项目" width="800" height="620"><span>修改</span></a></li>
      <li><a class="delete" href="@Url.Action("delete", "XM_RZ", new { id = "{mid}" })" rel="delete" target="ajaxTodo" title="确定要删除吗？"  warn="请选择一个项目"><span>删除</span></a></li>
      <li class="line">line</li>
      <li><a class="icon" href="@Url.Action("RZCheckList_Pass", "XM_RZ")" target="navTab"><span>已审核项目</span></a></li>
    </ul>
  </div>
  <div layouth="52">
    <table class="list" width="100%" asc="asc" desc="desc">
      <thead>
        <tr>
            <th>
            项目名称
        </th>
        <th>
            所属单位
        </th>
        <th>
            融资金额(万元)
        </th>
        <th>
            提交时间
        </th>
        <th>
            操作
        </th>
    </tr>
      </thead>
      <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmitTime)
                </td>
                <td>
                    @Html.ActionLink("审核通过", "RZCheck", "XM_RZ", new { id = @item.ID, state = "2" }, new { rel = "RZCheckList", target = "ajaxTodo" })
                </td>
            </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 5, 10, 20, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>
=======
﻿@model IEnumerable<GGZBTQPT_PRO.Models.T_XM_Financing>
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $("#PublicState").find("option[value='"+@ViewBag.State+"']").attr("selected", true);
    });
</script>
<div class="pageContent j-resizeGrid" style="border-left: 1px #B8D0D6 solid; border-right: 1px #B8D0D6 solid">
  <div class="panelBar">
    <ul class="toolBar">
      <li><form action="RZCheckList" enctype="multipart/form-data" method="post">
<select id="PublicState" name="PublicState"><option value="1">未审核</option><option value="2">已发布</option><option value="9">已驳回</option></select>
<input type="submit" value="查询" />
</form></li> 
    </ul>
  </div>
  <div layouth="116">
    <table class="list" width="100%" asc="asc" desc="desc">
      <thead>
        <tr>
            <th>
            项目名称
        </th>
        <th>
            所属单位
        </th>
        <th>
            融资金额
        </th>
        <th>
            状态
        </th>
        <th>
            操作
        </th>
    </tr>
      </thead>
      <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink(item.ItemName, "Edit", new { id = item.ID }, new { target = "_blank" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicText)
                </td>
                <td>
                    @Html.ActionLink("通过", "RZCheck", new { id = item.ID, state = "2" }) |
                    @Html.ActionLink("驳回", "RZCheck", new { id = item.ID, state = "9" })
                </td>
            </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="panelBar">
    <div class="pages">
      <span>显示</span>
      <select name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
      <span>条，共23条</span>
    </div>
    <div class="pagination" targettype="navTab" totalcount="200" numperpage="20" pagenumshown="10" currentpage="2">
    </div>
  </div>
</div>
>>>>>>> 3fbeb56cdca24a377e0435ff75fa2d027515386f
