@model GGZBTQPT_PRO.Models.T_QY_Corp



@helper QY_Financial(int CYear)
{
    <tr>
        <td style="width:120px">年度</td>
        <td><select name="FYear">
        <option value=@(CYear-1)>@(CYear-1)年度</option>
        <option value=@(CYear-2)>@(CYear-2)年度</option>
        <option value=@(CYear-3)>@(CYear-3)年度</option>
    </select></td>
    </tr>
    
    if(Model.Financials.Where(p => p.CurYear == (CYear-1).ToString()).Count()>0)
    {
        <tr>
            <td>年末总资产：</td>
            <td><input type="text" name="TotalAssets" value=@Model.Financials.Where(p => p.CurYear == (CYear-1).ToString()).First().TotalAssets /></td>
        </tr>
        <tr>
            <td>业务总收入：</td>
            <td><input type="text" name="Revenue" value=@Model.Financials.Where(p => p.CurYear == (CYear - 1).ToString()).First().Revenue /></td>
        </tr>
    }
    else
    {
        <tr>
            <td>年末总资产：</td>
            <td><input type="text" name="TotalAssets" /></td>
        </tr>
        <tr>
            <td>业务总收入：</td>
            <td><input type="text" name="Revenue" /></td>
        </tr>
    }
}
@helper QY_Product()
{
    if(Model.Products.Count()>0)
    {
        <tr>
            <td style="width:120px">产品名称：</td>
            <td><input type="text" name="ProductName" value=@Model.Products.FirstOrDefault().ProductName /></td>
        </tr>
        <tr>
            <td>产品介绍：</td>
            <td><input type="text" name="Content" value=@Model.Products.FirstOrDefault().Content /></td>
        </tr>
    }
    else
    {
        <tr>
            <td>产品名称：</td>
            <td><input type="text" name="ProductName" /></td>
        </tr>
        <tr>
            <td>产品介绍：</td>
            <td><input type="text" name="Content" /></td>
        </tr>
    }
}


@using (Ajax.BeginForm("Edit", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" }, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset> 
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.IsValid)
        @Html.HiddenFor(model => model.OP)
        @Html.HiddenFor(model => model.CreateTime)

        @Html.HiddenFor(model => model.MemberID)
        @Html.HiddenFor(model => model.Logo)

        <table style="width:100%">
            <tr>
                <td colspan="4" style="background-color:#666666; color:#ffffff">基本信息</td>
            </tr>
            <tr>
                <td style="width:120px">@Html.LabelFor(model => model.CorpName, "企业名称")</td>
                <td>@Html.EditorFor(model => model.CorpName)</td>
                <td>@Html.LabelFor(model => model.CorpCode, "机构代码")</td>
                <td>@Html.EditorFor(model => model.CorpCode)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.RegTime, "成立时间")</td>
                <td>@Html.EditorFor(model => model.RegTime)</td>
                <td>@Html.LabelFor(model => model.Property, "企业性质")</td>
                <td>@Html.DropDownList("Property")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Province, "注册地区")</td>
                <td>@Html.DropDownList("Province")</td>
                <td>@Html.LabelFor(model => model.RegCapital, "注册资金")</td>
                <td>@Html.EditorFor(model => model.RegCapital)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Industry, "所属行业")</td>
                <td>@Html.DropDownList("Industry")</td>
                <td>@Html.LabelFor(model => model.Stage, "发展阶段")</td>
                <td>@Html.DropDownList("Stage")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.LegalPerson, "法人")</td>
                <td>@Html.EditorFor(model => model.LegalPerson)</td>
                <td>@Html.LabelFor(model => model.Employees, "员工总数")</td>
                <td>@Html.EditorFor(model => model.Employees)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Website, "企业网站")</td>
                <td colspan="3">@Html.EditorFor(model => model.Website)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Website, "企业LOGO")</td>
                <td colspan="3">
                   <div id="bootstrapped-fine-uploader"></div>
                   <img id="logo_preview" src='@Url.Action("ShowLogo", "Corp", new { corp_id = Model.ID })'  alt="@Model.CorpName" />
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Range, "经营范围")</td>
                <td colspan="3">@Html.EditorFor(model => model.Range)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Remark, "备注")</td>
                <td colspan="3">@Html.EditorFor(model => model.Remark)</td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <td colspan="4" style="background-color:#666666; color:#ffffff">联系人信息</td>
            </tr>
            <tr>
                <td style="width:120px">@Html.LabelFor(model => model.Linkman, "联系人")</td>
                <td>@Html.EditorFor(model => model.Linkman)</td>
                <td>@Html.LabelFor(model => model.Position, "部门&职务")</td>
                <td>@Html.EditorFor(model => model.Position)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Phone, "固定电话")</td>
                <td>@Html.EditorFor(model => model.Phone)</td>
                <td>@Html.LabelFor(model => model.Mobile, "移动电话")</td>
                <td>@Html.EditorFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Fax, "传真")</td>
                <td>@Html.EditorFor(model => model.Fax)</td>
                <td>@Html.LabelFor(model => model.Email, "电子邮箱")</td>
                <td>@Html.EditorFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.QQ, "QQ")</td>
                <td colspan="3">@Html.EditorFor(model => model.QQ)</td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <td colspan="4" style="background-color:#666666; color:#ffffff">财务概况</td>
            </tr>
            @QY_Financial(DateTime.Now.Year)
        </table>       
        <table style="width:100%">
            <tr>
                <td colspan="4" style="background-color:#666666; color:#ffffff">主要产品介绍</td>
            </tr>
            @QY_Product()
        </table>

        <p>
        <button class="btn btn-primary" type="submit">
            <i class="icon-ok icon-white"></i>保存设置</button>
        </p>
    </fieldset>
}

<script src="@Url.Content("~/Public/file-uploader/fileuploader.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    function createUploader() {
        var uploader = new qq.FileUploader({
            element: document.getElementById('bootstrapped-fine-uploader'),
            action: '@Url.Action("UploadLogo", "Corp", new { corp_id = @Model.ID })',
            uploadButtonText: '<i class="icon-upload icon-white"></i>上传图片',
            template: '<div class="qq-uploader span12">' +
                  '<pre class="qq-upload-drop-area span12"><span>{dragText}</span></pre>' +
                  '<div class="qq-upload-button btn btn-success" style="width: auto;">{uploadButtonText}</div>' +
                  '<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
                '</div>',
            allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
            classes: {
                button: 'qq-upload-button',
                drop: 'qq-upload-drop-area',
                dropActive: 'qq-upload-drop-area-active',
                dropDisabled: 'qq-upload-drop-area-disabled',
                list: 'qq-upload-list',
                progressBar: 'qq-progress-bar',
                file: 'qq-upload-file',
                spinner: 'qq-upload-spinner',
                finished: 'qq-upload-finished',
                size: 'qq-upload-size',
                cancel: 'qq-upload-cancel',
                failText: 'qq-upload-failed-text',
                success: 'alert alert-success',
                fail: 'alert alert-error',
                successIcon: null,
                failIcon: null
            },   
            failUploadText: '上传成功',
            onComplete: function (id, fileName, responseJSON) {
                var src = $("#logo_preview").attr("src");
                $("#logo_preview").attr("src", src + "&" + Math.random());
                $("#Logo").attr("value",  responseJSON.logo );
            }
        });
    }
    $(document).ready(
        function () {
            createUploader();
        }
    );

    function notice(data) {
        $("#recommend li.active a").click();
        $.Member.notice(data);
    }
</script>