@model GGZBTQPT_PRO.ViewModels.VM_InformationCollect
@{
    Layout = null;
}

<div class="panel collapse" minh="100" defh="160">
    <h1>
        最新的融资项目</h1>
    <div>
        <table class="list" width="100%" asc="asc" desc="desc">
            <thead>
                <tr>
                    <th>
                        项目名称
                    </th>
                    <th>
                        所属行业
                    </th>
                    <th>
                        有效日期
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var financial in Model.Investments)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", "XM_RZ", new { id = financial.ID })"  target="navTab" rel="financial_content" title="融资项目信息" fresh="true">@Html.DisplayFor(modelItem => financial.ItemName)</a> 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => financial.IndustryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => financial.ValidDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="panel collapse" minh="100" defh="160">
    <h1>
        最新的投资意向</h1>
    <div>
        <table class="list" width="100%" asc="asc" desc="desc">
            <thead>
                <tr>
                    <th>
                        意向名称
                    </th>
                    <th>
                        项目类别
                    </th>
                    <th>
                        所属行业
                    </th>
                    <th>
                        有效日期
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var investment in Model.Financials)
                {
                    <tr>
                        <td> 
                            <a href="@Url.Action("Details", "XM_TZ", new { id = investment.ID })"  target="navTab" rel="investment_content" title="投资项目信息" fresh="true">@Html.DisplayFor(modelItem => investment.ItemName)</a> 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => investment.ItemText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => investment.IndustryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => investment.ValidDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="panel collapse" minh="100" defh="150">
    <h1>
        发给我的文件</h1>
    <div>
        @foreach (var file in Model.Files)
        {
            <p>@file.Title</p>
        }
    </div>
</div>
<br />
<div class="panel collapse" minh="100" defh="150">
    <h1>
        最新的会议</h1>
    <div>
        @foreach (var meeting in Model.Meetings)
        {
            <p>@meeting.Title</p>
        }
    </div>
</div>
<br />