@model GGZBTQPT_PRO.Models.T_ZC_User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>武汉市光谷科技金融信息管理系统</title>
    <link href="@Url.Content("~/Content/login/css/userlogin.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="logincont">
        <div id="loginhead" class="clearfix">
            <table width="998" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="609" height="221" background="@Url.Content("~/Content/login/images/loginbodyt-1.jpg")">
                    </td>
                    <td width="266" background="@Url.Content("~/Content/login/images/loginbodyt-2.jpg")">
                    </td>
                    <td width="121" background="@Url.Content("~/Content/login/images/loginbodyt-3.jpg")">
                    </td>
                </tr>
                <tr>
                   <td height="158" background="@Url.Content("~/Content/login/images/loginbodym-1.jpg")">
                    </td>
                    <td valign="top" background="@Url.Content("~/Content/login/images/loginbodym-2.jpg")">
                        @using (Html.BeginForm())
                        {
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="27%" height="35" class="t-right">@Html.LabelFor(model => model.LoginName, "登录名:")
                                    </td>
                                    <td height="35" colspan="2" align="left">
                                        <input class="text-box single-line ttype2" data-val="true" data-val-required="必须填写登录名称" id="LoginName" name="LoginName" type="text" value="">
                                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="35" class="t-right">
                                        @Html.LabelFor(model => model.Password, "密码:")
                                    </td>
                                    <td height="35" colspan="2" align="left">
                                        <input class="ttype2" data-val="true" data-val-required="必须填写登录密码" id="Password" name="Password" type="password">
                                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="42">
                                    </td>
                                    <td height="42" colspan="2" align="left">
                                        <input type="submit" class="tbuttom3" id="Button" value=" " />
                                        取消
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                    <td background="@Url.Content("~/Content/login/images/loginbodym-3.jpg")">
                    </td>
                </tr>
                <tr>
                    <td height="152" background="@Url.Content("~/Content/login/images/loginbodyb-1.jpg")">
                    </td>
                    <td background="@Url.Content("~/Content/login/images/loginbodyb-2.jpg")">
                    </td>
                    <td background="@Url.Content("~/Content/login/images/loginbodyb-3.jpg")">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="loginbottom">
        武汉神路信息咨询有限公司</div>
    
</body>
</html>
