@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Areas.ViewModels.VM_Message>

@helper FormatReply(string member_name, string date_time)
    {
        if (member_name == ViewBag.current_member.MemberName)
        {
        <h4>你在 @date_time 说道:</h4>
        }
        else
        {
        <h4>@member_name 在 @date_time 回复道:</h4>
        }
}

@helper StyledDate(DateTime date_time)
    {
    if (@date_time.Year == DateTime.Now.Year)
    {
        <span>@date_time.Month - @date_time.Day  @date_time.ToShortTimeString()</span>
    }
    else
    {        
        <span> @date_time.Year - @date_time.Month - @date_time.Day @date_time.ToShortTimeString()</span>
    } 
}
<div id="sended">
    @*发送消息信息*@
    <ul class="media-list">
        @foreach (var _model in Model)
        {    
            <li class="media" >
                <div class="media-body message" id="@_model.Message.ID.ToString()message">
                    <h4 class="media-heading">@_model.Message.Title
                    <span class="pull-right view_all_replies">
                        @StyledDate(@_model.Message.CreatedTime) 
                    </span>
                    </h4>
                    @_model.Message.Content
                    <div class="replies well">
                        @foreach (var reply in _model.RelateMessages)
                        {
                            <div class="media reply">
                                <div class="media-body">
                                    @FormatReply(@reply.SendMember.MemberName, @reply.CreatedTime.ToString())
                                    @reply.Content
                                </div>
                            </div>
                        } 
                    </div>
                    <h5 class="media-heading reply-to">
                        @Ajax.ActionLink("回复该消息", "ReplyMessage", "Message", new { message_id = @_model.Message.ID },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "GET",
                                            UpdateTargetId = _model.Message.ID.ToString() + "replying",
                                            LoadingElementId = "Loading"
                                        })
                        @Ajax.ActionLink("删除该消息", "Delete", "Message", new { id = _model.Message.ID },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "Delete",
                                            LoadingElementId = "Loading",
                                            OnSuccess = "setDeleted"
                                        })
                        <span class="pull-right view_all_replies">查看相关消息(@_model.RelateMessages.Count()条)</span>
                    </h5>
                    <div id="@_model.Message.ID.ToString()replying">
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<div class="pagination pagination-right pagination-small">
    @Html.AjaxPager(Model,
    new PagerOptions
    {
        PageIndexParameterName = "id",
        ContainerTagName = "ul",
        CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>",
        PagerItemWrapperFormatString = "<li>{0}</li>"
    },
    new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details" })
</div>


<script type="text/javascript">
    function notice(data) {
        $.Member.notice(data);
        updateReplies(data.reply_id, data.message_id);
    }

    function setDeleted(data) {
        $.Member.notice(data);
        $("#" + data.message_id + "message").parent.fadeOut();
    }

    function updateReplies(reply_id, message_id) {
        $.get("/MG/Message/Details/" + reply_id, function (data) {
            $("#" + message_id + "message").children("div[class$='replies']").append(data).toggle();
        }); 
    }
    $.Member.replaceBlankForMVCPager();
    $.Member.rounded(); 
    $.Member.viewAllReplies();
</script>




