@model IEnumerable<GGZBTQPT_PRO.Models.T_JG_Linkman>
<div class="pageContent j-resizeGrid" style="border-left: 1px #B8D0D6 solid; border-right: 1px #B8D0D6 solid">
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="/JG_Linkman/create" rel="create" target="dialog" title="添加新的功能菜单" mask="true"><span>添加</span></a></li>
      <li><a class="edit" href="/JG_Linkman/edit/{mid}" rel="edit" target="dialog" title="编辑功能菜单信息" mask="true" warn="请选择一条菜单数据"><span>修改</span></a></li>
      <li><a class="delete" href="/JG_Linkman/delete/{mid}" rel="delete" target="ajaxTodo" title="确定要删除吗？"  warn="请选择一条菜单数据"><span>删除</span></a></li>
      <li class="line">line</li>
      <li><a class="icon" href="#"><span>导入EXCEL</span></a></li>
    </ul>
  </div>
  <div layouth="116">
    <table class="list" width="100%" asc="asc" desc="desc">
      <thead>
        <tr>
            <th>
            姓名
        </th>
        <th>
            负责业务
        </th>
        <th>
            办公电话
        </th>
        <th>
            移动电话
        </th>
        <th>
            电子邮箱
        </th>
        <th>操作</th>
    </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
            <tr target="mid" rel=@item.ID>
                 <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Business)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
                    </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="panelBar">
    <div class="pages">
      <span>显示</span>
      <select name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
      <span>条，共23条</span>
    </div>
    <div class="pagination" targettype="navTab" totalcount="200" numperpage="20" pagenumshown="10" currentpage="2">
    </div>
  </div>
</div>