@model GGZBTQPT_PRO.Models.T_JG_Agency

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>添加机构</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "JG_Agency", FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
{
    @Html.ValidationSummary(true)
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.AgencyName, "机构名称")</td>
                <td>@Html.EditorFor(model => model.AgencyName)@Html.EditorFor(model => model.IsIn)是否大厦入驻机构</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.AgencyType, "机构类别")</td>
                <td>@Html.DropDownList("AgencyType", "请选择")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.RegTime, "成立日期")</td>
                <td>@Html.EditorFor(model => model.RegTime)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Address, "详细地址")</td>
                <td>@Html.EditorFor(model => model.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.RegCapital, "注册资本")</td>
                <td>@Html.EditorFor(model => model.RegCapital)（万元）</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Province, "工商注册地")</td>
                <td>@Html.DropDownList("Province", "请选择")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Phone, "联系电话")</td>
                <td>@Html.EditorFor(model => model.Phone)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Services, "机构服务内容")</td>
                <td>@Html.TextAreaFor(model => model.Services, new { rows = "5", cols = "60" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Remark, "机构简介")</td>
                <td>@Html.TextAreaFor(model => model.Remark, new { rows = "5", cols = "60" })</td>
            </tr>
        </table>
        <p>
            <input type="submit" value="提交" />
        </p>
}
