@model GGZBTQPT_PRO.Models.T_JG_Agency

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>T_JG_Agency</legend>

    <div class="display-label">UserID_</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID_)
    </div>

    <div class="display-label">AgencyName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgencyName)
    </div>

    <div class="display-label">AgencyType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgencyType)
    </div>

    <div class="display-label">RegTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegTime)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">RegCapital</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegCapital)
    </div>

    <div class="display-label">Province</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Province)
    </div>

    <div class="display-label">City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">Region</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">Services</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Services)
    </div>

    <div class="display-label">Remark</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remark)
    </div>

    <div class="display-label">IsValid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsValid)
    </div>

    <div class="display-label">OP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OP)
    </div>

    <div class="display-label">CreateTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateTime)
    </div>

    <div class="display-label">UpdateTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateTime)
    </div>

    <div class="display-label">Member</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Member.LoginName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
