@model GGZBTQPT_PRO.Models.T_JG_Agency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>T_JG_Agency</legend>

    <div class="display-label">AgencyName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgencyName)
    </div>

    <div class="display-label">AgencyType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgencyType)
    </div>

    <div class="display-label">RegTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegTime)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">RegCapital</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegCapital)
    </div>

    <div class="display-label">Province</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Province)
    </div>

    <div class="display-label">City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">Region</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">Services</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Services)
    </div>

    <div class="display-label">Remark</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remark)
    </div>

    <div class="display-label">IsValid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsValid)
    </div>

    <div class="display-label">OP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OP)
    </div>

    <div class="display-label">CreateTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateTime)
    </div>

    <div class="display-label">UpdateTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateTime)
    </div>

    <div class="display-label">Member</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Member.LoginName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
