@model GGZBTQPT_PRO.Models.T_JG_Agency

@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<script type="text/javascript">
    $.validator.unobtrusive.parse(document);
</script>
<div class="pageContent">
@using (Html.BeginForm("Edit", "JG_Agency", FormMethod.Post, new { onsubmit = "return iframeCallback(this,dialogAjaxDone);", @class = "pageForm required-validate", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.IsValid)
    @Html.HiddenFor(model => model.OP)
    @Html.HiddenFor(model => model.CreateTime)
    @Html.HiddenFor(model => model.UpdateTime)
    @Html.HiddenFor(model => model.Pic)
    @Html.HiddenFor(model => model.MemberID)
    <div class="pageFormContent" layouth="60">
        <table style="width: 100%; border-spacing:3px">
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.AgencyName, "机构名称")
                </td>
                <td>@Html.TextBoxFor(model => model.AgencyName, new { style = "width:300px" })@Html.ValidationMessageFor(model => model.AgencyName)@Html.EditorFor(model => model.IsIn)是否大厦入驻机构
                </td>
            </tr>
            <tr>

                <td>@Html.LabelFor(model => model.SubName, "机构简称")</td>
                <td>@Html.TextBoxFor(model => model.SubName, new { style = "width:300px" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.AgencyType, "机构类别")</td>
                <td>@Html.DropDownList("AgencyType")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.RegTime, "成立日期")
                </td>
                <td>@Html.TextBoxFor(m => m.RegTime, new { @class = "date", @Value = string.Format("{0:yyyy-MM-dd}", Model.RegTime) })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Address, "详细地址")
                </td>
                <td>@Html.TextBoxFor(model => model.Address, new { style = "width:300px" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.RegCapital, "注册资本")
                </td>
                <td>@Html.EditorFor(model => model.RegCapital)（万元）
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Province, "工商注册地")
                </td>
                <td>@Html.DropDownList("Province")
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Phone, "联系电话")
                </td>
                <td>@Html.TextBoxFor(model => model.Phone, new { style = "width:300px" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Services, "机构服务内容")
                </td>
                <td>@Html.TextAreaFor(m => m.Services, new { @class = "editor", @rows = "15", @Value = Model.Services, style = "width:790px" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Remark, "机构简介")
                </td>
                <td>@Html.TextAreaFor(m => m.Remark, new { @class = "editor", @rows = "15", @Value = Model.Remark, style = "width:790px" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Pic, "机构图片")
                </td>
                <td>
                    <input type="file" name="file1" />
                    <div>
                        <img id="logo_preview" src='@Url.Action("ShowPic", "JG_Agency", new { agency_id = Model.ID })'  alt="@Model.AgencyName" /></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit" value="保存设置">
                                保存设置</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close" value="取消">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
}
</div>