@model IEnumerable<GGZBTQPT_PRO.Models.T_ZC_Role>
@{
    Layout = null;
}
<form id="pagerForm" method="post" action="@Url.Action("Index")">
<input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
<input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
<input type="hidden" name="keyword" value="@ViewData["keyword"]"  />
<input type="hidden" name="keywords" value="@ViewData["keywords"]"  />
<input type="hidden" name="orderField" value="${param.orderField}" />
<input type="hidden" name="orderDirection" value="${param.orderDirection}" />
</form>
<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" action="@Url.Action("Index")"
    method="post">
    <div class="searchBar">
        <ul class="searchContent">
            <li>
                <label>
                    角色名称：</label>
                <input type="text" name="keywords" />
            </li>
        </ul>
        <div class="subBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit" style="width: 50px;">
                                检索</button></div>
                    </div>
                </li>
                @*<li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框">
                    <span>高级检索</span></a></li>*@
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="@Url.Action("create","ZC_Role")" rel="create" target="dialog" title="添加新的业务系统" mask="true" width="500" height="150"><span>添加</span></a></li>
            <li><a class="edit" href="@Url.Action("edit","ZC_Role", new { id = "{mid}"})" rel="edit" target="dialog" title="编辑业务系统信息"
                mask="true" warn="请选择一条系统数据" width="500" height="150"><span>编辑</span></a></li>
            <li><a class="delete" href="@Url.Action("delete","ZC_Role", new { id = "{mid}"})" rel="delete" target="ajaxTodo"
                title="确定要删除吗？" warn="请选择一条系统数据"><span>删除</span></a></li>
            <li class="line">line</li> 
        </ul>
    </div>
    <div layouth="116">
        <table class="list" width="100%" targettype="navTab" asc="asc" desc="desc">
            <thead>
                <tr>
                    <th orderfield="name" class="asc">
                        角色名称
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>
                        更新时间
                    </th>
                    <th align="center">
                        设置用户
                    </th>
                    <th align="center">
                        设置权限
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr target="mid" rel=@item.ID>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                        </td>
                        <td>
                            @Html.ActionLink("选择用户", "SelectUser", new { id = item.ID }, new { target = "dialog", mask = "true" })
                        </td>
                        <td>
                            @Html.ActionLink("设置权限", "SetPurview", new { id = item.ID }, new { target = "dialog", mask = "true" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 15, 20, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>
