@model GGZBTQPT_PRO.ViewModels.VM_SelectUser
@{
    Layout = null;
}

@helper GenerateUser(string selected_users, GGZBTQPT_PRO.Models.T_ZC_User user)
{
    if(selected_users.IndexOf(user.ID.ToString()) >= 0)
    { 
        <li><a tname="@user.UserName" tvalue="@user.ID" checked=true >@user.UserName</a></li>  
    }
    else
    { 
        <li><a tname="@user.UserName" tvalue="@user.ID" >@user.UserName</a></li>  
    }    
}
@helper GenerateDeparts(GGZBTQPT_PRO.Models.T_ZC_Department parent_department, ICollection<GGZBTQPT_PRO.Models.T_ZC_Department> departments)
{    
    foreach (var department in departments)
    { 
        <ul>
            <li><a>@department.Name</a>
                <ul>
                    @foreach (var user in Model.Users)
                    {
                        if (user.DepartmentID == department.ID)
                        {
                            @GenerateUser(ViewBag.selected_users, user)
                        }
                    }
                </ul>
            </li>
        </ul>

        if (departments.Where(d => d.ParentID == department.ID).Count() > 0)
        {
            @GenerateDeparts(department, departments.Where(d => d.ParentID == department.ID).ToList())
        }
    }        
}
<div id="FormContainer" class="pageContent">
<div class="pageFormContent" layouth="56">
<ul class="tree treeFolder treeCheck select-tree">
    <li><a>内部平台系统用户列表</a>
        <ul >
            @foreach (var department in Model.Departments.Where(d => d.ParentID == 0 || d.ParentID == null))
            { 
                <li><a>@department.Name </a> 
                    @GenerateDeparts(department, Model.Departments.Where(d => d.ParentID == department.ID).ToList())
                </li> 
            }
        </ul>
    </li>
</ul>
</div>
<div class="formBar">
    <ul>
        <li>
            <div class="buttonActive">
                <div class="buttonContent">
                    <button type="submit" id="select_user">
                        保存</button></div>
            </div>
        </li>
        <li>
            <div class="button">
                <div class="buttonContent">
                    <button type="button" class="close">
                        取消</button></div>
            </div>
        </li>
    </ul>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#select_user").click(function () {
            var result = "";

            $(".select-tree .checked input[type='checkbox']").each(function () {
                var value = $(this).attr("value");
                if (value != "" && value != "on") {
                    result += value + ",";
                }
            });
            alert("@Url.Action("SelectUser","ZC_Role", new { id = @ViewBag.RoleID})");
            $.post("@Url.Action("SelectUser","ZC_Role", new { id = @ViewBag.RoleID})",{ select_users: result },function(data){ DWZ.ajaxDone(data);},"json");
        }); 
    }); 
</script>
