@model GGZBTQPT_PRO.Models.T_NB_File
@{
    Layout = null;
}
<script type="text/javascript">
    $.validator.unobtrusive.parse(document);
</script>
<div class="pageContent">
    @using (Html.BeginForm("Create", "NB_File", new { UpType = ViewBag.UpType ,parentId = ViewBag.parentId}, FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
    {
        @Html.ValidationSummary(true)

        <div class="pageFormContent" layouth="56">
            <p>
                @Html.LabelFor(model => model.Title, "标题")
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </p>
            <p>
                <div id="fine-uploader">
                </div>
            </p>
        </div>
        
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
    }
</div>

<link href="@Url.Content("~/Public/file-uploader/fineuploader.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Public/file-uploader/fineuploader-3.0.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var uploader = new qq.FineUploader({
            element: document.getElementById('fine-uploader'),
            request: { endpoint: '@Url.Action("TemporariedFile", "NB_File")' },
            failedUploadTextDisplay: {
                mode: 'custom',
                maxChars: 40,
                responseProperty: 'error',
                enableTooltip: true
            },
            multiple: false,
            validation: {
                allowedExtensions: ['doc', 'docx'],
                sizeLimit: 25120000
            },
            text: {
                uploadButton: '上传文件'
            },
            debug: false
        });
    });
</script>