@model IEnumerable<GGZBTQPT_PRO.Models.T_JG_Product>
 @{
     Layout = null;
}
<html>
<head>
<link href="@Url.Content("~/Areas/Member/Content/css/wscss/news_css.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/Member/Content/css/wscss/style.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/Member/Content/css/wscss/text1.css")" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="pagebody" class="w">
<table class="_table" border="0" cellpadding="0" cellspacing="0">
	<tr class="thead">
		<th width="30%">产品名称</th>
		<th width="30%">贷款机构</th>
		<th width="20%">融资额度</th>
		<th width="20%">融资期限</th>
	</tr>
@foreach (var item in Model)
{
        <tr target="mid" rel=@item.ID>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinancingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinancingLimit)
        </td>
       </tr>
 }
</table></div>
</body>
</html>

