@model GGZBTQPT_PRO.Models.T_ZC_System

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>T_ZC_System</legend>
    
        <div class="display-label">Name</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    
        <div class="display-label">CreatedAt</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedAt)
        </div>
    
        <div class="display-label">UpdatedAt</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdatedAt)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
