@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Models.T_JG_Product>
@{
    ViewBag.Title = "发布的产品";
}
<script type="text/javascript">
    $.Member.replaceBlankForMVCPager();
</script>
@*发布的项目信息*@
<div id="published">
    @foreach (var _model in Model)
    {
        <div class="row-fluid">
            @*项目信息*@
            <div class="published-content ">
                <h4>
                   @Html.ActionLink(_model.ProductName, "Edit", "Product", new { id = _model.ID }, null)<span class="pub-time pull-right">@_model.CreateTime</span></h4>
                @*摘要*@
                <p class="summary">
                    @_model.Superiority
                </p>
                @*附属信息*@
                <div class="published-info">
                    <span class="pub-time">发布时间: @_model.CreateTime</span>
                </div>
            </div>
        </div>
    }
    <div class="pagination pagination-left clear">
        @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details" })
    </div>
</div>
