@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Models.T_XM_Financing>
@{
    ViewBag.Title = "发布的项目";
}
<script type="text/javascript">
    $.Member.replaceBlankForMVCPager();
</script>
@*发布的项目信息*@
<div id="published">
    @if (Model.Count() <= 0)
    {
        Html.RenderPartial("Nothing");
    }
    @foreach (var _model in Model)
    {
        <div class="row-fluid">
            @*项目信息*@
            <div class="published-content ">
                <h4>
                    @Html.ActionLink(_model.ItemName, "Edit", "Financial", new { id = _model.ID }, null)<span class="pub-time pull-right">@_model.CreateTime</span></h4>
                @*摘要*@
                <p class="summary">
                        @if (_model.ShowText.Length > 200)
                        {
                            <span>@_model.ShowText.Substring(0, 200)...</span>
                        }
                        else
                        {
                            <span>@_model.ShowText</span>
                        }
                </p>
                @*附属信息*@
                <div class="published-info">
                   <span class="amount text-error">总投资：@_model.Amount 万元</span><span class="favorite pull-right text-info">【@_model.Favoites.Count() 人收藏】</span>
                </div>
            </div>
        </div>
            
    }
    <div class="pagination pagination-right pagination-small">
        @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details" }) 
    </div>
</div>
