@model GGZBTQPT_PRO.Models.T_ZC_User
@{
    Layout = null;
}
<div id="FormContainer" class="pageContent">
    @using (Html.BeginForm("Edit", "ZC_User", FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="pageFormContent" layouth="56">@Html.HiddenFor(model => model.CreatedAt)
            <p>
                @Html.LabelFor(model => model.DepartmentID, "所属部门")
                @Html.DropDownList("DepartmentID", String.Empty)
                @Html.ValidationMessageFor(model => model.DepartmentID)
            </p>
            <p>
                @Html.LabelFor(model => model.Name, "用户姓名")
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </p>
            <p>
                @Html.LabelFor(model => model.LoginName, "登录名称")
                @Html.EditorFor(model => model.LoginName)
                @Html.ValidationMessageFor(model => model.LoginName)
            </p>
            <p>
                @Html.LabelFor(model => model.Password, "登录名称")
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </p>
            <p>
                @Html.LabelFor(model => model.CellPhone, "手机号码")
                @Html.EditorFor(model => model.CellPhone)
                @Html.ValidationMessageFor(model => model.CellPhone)
            </p>
            <p>
                @Html.LabelFor(model => model.IdCard, "身份证")
                @Html.EditorFor(model => model.IdCard)
                @Html.ValidationMessageFor(model => model.IdCard)
            </p>
            <p>
                @Html.LabelFor(model => model.Order, "用户排序")
                @Html.EditorFor(model => model.Order)
                @Html.ValidationMessageFor(model => model.Order)
            </p>
        </div>

        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>

    }
</div>
