@model GGZBTQPT_PRO.Models.T_ZC_User
@{
    Layout = null;
}
<div id="FormContainer" class="pageContent">
    @using (Html.BeginForm("Edit", "ZC_User", FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.UseLevel)
        @Html.HiddenFor(model => model.CreatedAt)
        @Html.HiddenFor(model => model.DepartmentID)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.LoginName)
        @Html.HiddenFor(model => model.Order)

        <div class="pageFormContent" layouth="60">
            <p>
                @Html.LabelFor(model => model.Password, "登录密码")
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </p>
            <p>
                @Html.LabelFor(model => model.CellPhone, "手机号码")
                @Html.EditorFor(model => model.CellPhone)
                @Html.ValidationMessageFor(model => model.CellPhone)
            </p>
            <p>
                @Html.LabelFor(model => model.IdCard, "身份证")
                @Html.EditorFor(model => model.IdCard)
                @Html.ValidationMessageFor(model => model.IdCard)
            </p>
        </div>

        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>

    }
</div>