@model IEnumerable<GGZBTQPT_PRO.Models.T_ZC_User>
<form id="pagerForm" method="post" action="@Url.Action("UserInfo")">
<input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
<input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
<input type="hidden" name="id" value="@ViewData["ID"]"  />
@*<input type="hidden" name="orderField" value="${param.orderField}" />
        <input type="hidden" name="orderDirection" value="${param.orderDirection}" />*@
</form>
<div class="pageContent j-resizeGrid" style="border-left: 1px #B8D0D6 solid; border-right: 1px #B8D0D6 solid">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="/ZC_User/create" rel="create" target="dialog" title="添加新的用户"
                mask="true" width="320" height="330"><span>添加</span></a></li>
            <li><a class="edit" href="/ZC_User/edit/{mid}" rel="edit" target="dialog" title="编辑用户信息"
                mask="true" width="320" height="330" warn="请选择一条用户信息"><span>修改</span></a></li>
            <li><a class="delete" href="/ZC_User/delete/{mid}" rel="delete" target="ajaxTodo"
                title="确定要删除吗？" warn="请选择一条用户信息"><span>删除</span></a></li>
            <li class="line">line</li>
            @*<li><a class="icon" href="#"><span>导入EXCEL</span></a></li>*@
        </ul>
    </div>
    <div layouth="116">
        <table class="list" width="98%" asc="asc" desc="desc">
            <thead>
                <tr>
                    <th>
                        @Resources.T_ZC_User.Name
                    </th>
                    <th>
                        @Resources.T_ZC_User.LoginName
                    </th>
                    <th>
                        @Resources.T_ZC_User.Password
                    </th>
                    <th>
                        @Resources.T_ZC_User.IdCard
                    </th>
                    <th>
                        @Resources.T_ZC_User.Order
                    </th>
                    <th>
                        @Resources.T_ZC_User.CellPhone
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr target="mid" rel=@item.ID>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoginName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCard)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CellPhone)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1},'userInfoBox')">
                @{  
                    int[] nums = new int[] { 5, 10, 20, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div rel="userInfoBox" class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>
