@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Areas.ViewModels.VM_AttentionedCorp>

@helper HasAttentioned(GGZBTQPT_PRO.Models.T_HY_Member attentioned_member, int current_member_id, GGZBTQPT_PRO.Models.T_QY_Corp attentioned_corp)
{
    if (attentioned_member.Attentions.Select(a => a.AttentionedMemberID == current_member_id).Count() > 0 )
    {
        <span class="mobile">手机：@attentioned_corp.Mobile</span><span class="phone">固定电话：@attentioned_corp.Phone</span><span class="email">邮箱：@attentioned_corp.Email</span>    }
    else
    {
         <p>
        <span class="label label-important">****以下信息互相关注后可见****</span></p>
    <span class="mobile">手机：********</span><span class="phone">固定电话：********</span><span class="email">邮箱：********</span> 
    }
} 

<script type="text/javascript">
    function notice(data) {
        $("#attentioned li.active a").click();
        $.Member.notice(data);
    }
</script>
<div id="attentioned">
    @foreach (var _model in Model)
    {
        <div class="attentioned-content row-fluid">
            @*关注的企业的头像和基本信息*@
            <div class="attentioned-link span2">
                <div class="unattentioned">
                    <span><i class="icon-eye-close icon-white"></i>@Ajax.ActionLink("取消关注", "UnAttentioned", "Attention", new { id = _model.Corp.MemberID }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" })</span>
                </div>
            </div>
            @*完整信息*@
            <div class="person-detail span10">
                @*可见信息*@
                <h4>
                    @_model.Corp.CorpName</h4>
                <div class="base-detail">
                <p>
                    <label>企业机构代码：<span>@_model.Corp.CorpCode</span></label>
                    <label>注册资金：<span>@_model.Corp.RegCapital</span></label>
                    <label>企业网站：<span>@_model.Corp.Website</span></label>
                    <label>企业描述:</label>
                    <p>@_model.Corp.Remark</p>
                </p>
@*                <p>
                    <label>发布项目：<span>3个</span></label>
                    <label>关注他的：<span>5个</span></label>
                    <label>他关注的：<span>17个</span></label> 
                </p>*@
                </div>
                @*隐私信息*@
                <div class="privacy-detail">
                   @HasAttentioned(_model.Member,ViewBag.CurrentMemberID, _model.Corp)
                </div>
            </div>
        </div>
    }
    <div class="pagination pagination-left clear">
        @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details" }) 
    </div>
</div>
