@model GGZBTQPT_PRO.Models.T_NB_Meeting
@{
    Layout = null;
}
<div id="FormContainer" class="pageContent">
    @using (Html.BeginForm("Audit", "NB_Meeting",new {id=Model.ID,state=@ViewBag.State}, FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
    {
        @Html.ValidationSummary(true)
        <div class="pageFormContent" layouth="56">
            @Html.HiddenFor(model => model.ID)
            <p>
                @Html.LabelFor(model => model.Address,"预定地址")
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </p>
            <p>
                @Html.LabelFor(model => model.FeedBack,"审核反馈")
                @Html.TextAreaFor(model => model.FeedBack, new { rows = "5", style = "width:50%" })
            </p>
        </div>
        
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
    }
</div>
