@model IEnumerable<GGZBTQPT_PRO.Models.T_NB_Meeting>

@{
    Layout = null;
}

<div class="pageHeader">
    <form id="pagerForm" method="post" action="@Url.Action("MeetingRecord")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    <input type="hidden" name="keywords" value="@ViewData["keywords"]"  />
    </form>
    <form onsubmit="return navTabSearch(this);" action="@Url.Action("MeetingRecord")"
    method="post">
    <div class="searchBar">
        <ul class="searchContent">
            <li>
                <label>
                    标题：</label>
                <input type="text" name="keywords" value="@ViewData["keywords"]" />
            </li>
        </ul>
        <div class="subBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                检索</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
    <div layouth="88" id="divList">
        <table  class="list" width="100%" asc="asc" desc="desc" style="table-layout:fixed">
            <thead>
            <tr>
                <th>
                    会议主持
                </th>
                <th>
                    会议主题
                </th>
                <th >
                    会议内容
                </th>
                <th>
                    会议时间
                </th>
                <th>
                    会议地址
                </th>
                <th>
                    参与人员
                </th>
                <th>
                    记录人
                </th>
                <th>
                    记录状态
                </th>
                <th>
                    选择用户
                </th>
                <th>
                    会议记录
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @item.CreateUser.UserName
                </td>
                <td>
                    @item.Title
                </td>
                <td title="@item.Content"  style="overflow:hidden;text-overflow:ellipsis;white-space: nowrap;">
                    @item.Content
                </td>
                <td>
                    @String.Format("{0:g}", item.MeetingTime)
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @foreach (var user in item.PartakeUsers)
                    {
                       <span style="margin-right:10px;">@user.UserName</span>
                    }
                </td>
                <td>
                    @item.RecordUser
                </td>
                <td>
                    @if(item.IsRecord)
                    {
                        <span>已记录</span>
                    }
                    else
                    {
                        <span>未记录</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("参与人员", "SelectUser", "NB_Meeting", new { id = item.ID }, new { target = "dialog", mask = "true" })
                </td>
                <td>
                    @Html.ActionLink(@item.IsRecord ? "修改":"记录", "RecordEdit", "NB_Meeting", new { id = item.ID }, new { target = "dialog", mask = "true", width = "500", height = "350" })
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 15, 25, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>
