@model IEnumerable<GGZBTQPT_PRO.Models.T_NB_Meeting>

@{
    Layout = null;
}

<div class="pageHeader">
    <form id="pagerForm" method="post" action="@Url.Action("MeetingAudit")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    <input type="hidden" name="keywords" value="@ViewData["keywords"]"  />
    @*<input type="hidden" name="orderField" value="${param.orderField}" />
        <input type="hidden" name="orderDirection" value="${param.orderDirection}" />*@
    </form>
    <form onsubmit="return navTabSearch(this);" action="@Url.Action("MeetingAudit")"
    method="post">
    <div class="searchBar">
        <ul class="searchContent">
            <li>
                <label>
                    标题：</label>
                <input type="text" name="keywords" value="@ViewData["keywords"]" />
            </li>
        </ul>
        <div class="subBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                检索</button></div>
                    </div>
                </li>
                @*<li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框">
                    <span>高级检索</span></a></li>*@
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
    <div layouth="88" id="divList">
        <table  class="list" width="100%" asc="asc" desc="desc">
            <thead>
            <tr>
                <th width="40">
                    <input type="checkbox" group="ids" class="checkboxCtrl">
                </th>
                <th>申请人</th>
                <th>
                    会议主题
                </th>
                <th>
                    会议时间
                </th>
                <th>
                    预定地址
                </th>
                <th>
                    参与人数
                </th>
                <th>
                    会议用时
                </th>
                <th>
                    状态
                </th>
                <th>
                    申请时间
                </th>
                <th>
                    审核
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
            <tr target="mid" rel=@item.ID>
                <td>
                    <input name="ids" type="checkbox" value="@item.ID" />
                </td>
                <td>
                    @item.CreateUser.UserName
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @String.Format("{0:g}", item.MeetingTime)
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                   @item.Number
                </td>
                <td>
                   @item.UsedTime
                </td>
                <td>
                   @item.StateName
                </td>
                <td>
                    @String.Format("{0:g}", item.CreatedTime)
                </td>
                 <td>
                    <a href="@Url.Action("Audit", "NB_Meeting", new { id = item.ID,state = 1})" rel="Audit" target="dialog" width="400" 
                        height="350" title="会议审核通过" mask="true"><span>通过</span></a>
                    <a href="@Url.Action("Audit", "NB_Meeting", new { id = item.ID,state = 2})" rel="Audit" target="dialog" width="400" 
                        height="350" title="会议审核不通过" mask="true"><span>不通过</span></a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 15, 25, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>
