@using GGZBTQPT_PRO.Enums
@helper GeneratePersonalLinks()
{
    if (Session["MemberID"] != null && Session["MemberID"].ToString() != "")
    {
        <li>
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">信息查询 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("找项目", "Financials", "InquireResources") </li>
                    <li>@Html.ActionLink("找资金", "Investments", "InquireResources") </li>
                    <li>@Html.ActionLink("找服务", "Index", "FindService") </li>
                </ul>
            </div>
        </li>
        if (Session["IsVerified"].ToString() == "True")
        {
                
            <li class="divider-vertical"></li>
            <li>
                <div class="btn-group">
                    <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">信息发布 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("发布融资项目", "Create", "Financial")</li>
                        <li>@Html.ActionLink("发布投资意向", "Create", "Investment")</li>
                        @if (Session["MemberType"].ToString() == MemberTypes.机构.ToString())
                        {
                            <li>@Html.ActionLink("发布金融产品", "Create", "Product")</li>
                        }
                    </ul>
                </div>
            </li>
        }
        <li class="divider-vertical"></li>
        <li>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">短消息 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("短消息列表", "Index", "Message")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("发新消息", "Create", "Message")</li>
                </ul>
            </div>
        </li> 
        <li>@Html.ActionLink("设置", "Config", "Member")</li>
        <li>@Html.ActionLink("退出", "LogOut", "Member")</li>
        <li><a href="http://www.ovcstf.com/">返回资本光谷</a></li>
    }
    else
    {
        <li>@Html.ActionLink("注册", "SignUp", "Member")</li>
        <li>@Html.ActionLink("登陆", "Login", "Member")</li>
    <li><a href="http://www.ovcstf.com/">返回资本光谷</a></li>
    }
}
<div class="navbar  navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://www.ovcstf.com/"><img src="@Url.Content("~/Areas/MG/Content/images/logo.png")" width="36px" height="36px" alt="资本光谷" /></a> 
            <ul class="nav header-link">
                <li>@Html.ActionLink("金融推荐", "Index", "Recommend")</li>
                <li>@Html.ActionLink("我的发布", "Index", "Published") </li>
                <li>@Html.ActionLink("我的收藏", "Index", "Favorite") </li>
                <li>@Html.ActionLink("我的关注", "Index", "Attention") </li>

            </ul>
            <ul class="nav pull-right">
                @GeneratePersonalLinks()
            </ul> 
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".header-link li a").each(function () {
            var urls = window.location.href.toString().split('/');
            var actions = $(this).attr("href").toString().split('/');
            if (urls[urls.length - 1] == actions[actions.length - 1]) {
                $(this).parent("li").addClass("active");
            } 
        }); 
    }); 
</script> 
