 @helper CheckWhetherMemberLoginIn()
    {
    if (Session["MemberID"] != null && Session["MemberID"].ToString() != "")
    { 
    <li>
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">信息发布 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("发布融资项目", "Create", "Financial")</li>
                <li>@Html.ActionLink("发布投资意向", "Create", "Investment")</li>
            </ul>
        </div>
    </li>
    <li class="divider-vertical"></li>
    <li>@Html.ActionLink("设置", "Config", "Member")</li>
    <li>@Html.ActionLink("退出", "LogOut", "Member")</li>
    }
    else
    {
    <li>@Html.ActionLink("注册", "SignUp", "Member")</li>
    <li>@Html.ActionLink("登陆", "Login", "Member")</li>
    }
}
<div class="navbar  navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://www.ovcstf.com/">科技金融网</a> 
            <ul class="nav header-link">
                <li>@Html.ActionLink("金融推荐", "Index", "Recommend")</li>
                <li>@Html.ActionLink("我的发布", "Index", "Published") </li>
                <li>@Html.ActionLink("我的收藏", "Index", "Favorite") </li>
                <li>@Html.ActionLink("我的关注", "Index", "Attention") </li>
                <li>@Html.ActionLink("找项目", "Financials", "InquireResources") </li>
                <li>@Html.ActionLink("找资金", "Investments", "InquireResources") </li>
                <li>@Html.ActionLink("找服务", "Index", "FindService") </li>
                 
            </ul>
            <ul class="nav pull-right">
                @CheckWhetherMemberLoginIn()
            </ul> 
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".header-link li a").each(function () {
            var urls = window.location.href.toString().split('/');
            var actions = $(this).attr("href").toString().split('/');
            if (urls[urls.length - 1] == actions[actions.length - 1]) {
                $(this).parent("li").addClass("active");
            } 
        }); 
    }); 
</script> 
