@model IEnumerable<GGZBTQPT_PRO.Models.T_QY_RZXQ>

@{
    Layout = null;
}
<div class="pageHeader">
    <form id="pagerForm" method="post" action="@Url.Action("Index")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    <input type="hidden" name="keywords" value="@ViewData["keywords"]"  />
    </form>
</div>
<div class="pageContent">
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="@Url.Action("simplecreate", "CorpFinInfo")" rel="create" target="dialog" title="添加融资需求" external="true" mask="true" max="true"><span>添加</span></a></li>
      <li><a class="edit" href="@Url.Action("simpleedit", "CorpFinInfo", new { id = "{mid}" })" rel="edit" target="dialog" title="编辑融资需求" external="true" mask="true" warn="请选择一条信息数据" max="true"><span>修改</span></a></li>
      <li><a class="delete" href="@Url.Action("delete", "CorpFinInfo", new { id = "{mid}" })" rel="delete" target="ajaxTodo" title="确定要删除吗？"  warn="请选择一条信息数据"><span>删除</span></a></li>
    </ul>
  </div>
  <div layouth="66">
    <table class="list" width="100%" asc="asc" desc="desc">
      <thead>
        <tr>
            <th>
                企业名称
            </th>
            <th>
                所属区域
            </th>
            <th>
                联系人
            </th>
            <th>
                联系电话
            </th>
            <th>
                电子邮箱
            </th>
            <th></th>
    </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
            <tr target="mid" rel=@item.ID>
            <td>
                @Html.DisplayFor(modelItem => item.CorpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a href="@Url.Action("Details", "CorpFinInfo", new { id = item.ID })" target="dialog" title="融资需求" mask="true" width="600" height="500">融资需求</a>
            </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 15, 25, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>