@model IEnumerable<GGZBTQPT_PRO.Models.T_JG_Product>

@{
    Layout = null;
}

<div class="pageHeader">
<form id="pagerForm" method="post" action="@Url.Action("CPUnCheckList")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    <input type="hidden" name="keywords" value="@ViewData["keywords"]"  />
    </form>
    <form onsubmit="return navTabSearch(this);" action="@Url.Action("CPUnCheckList")" method="post">
    <div class="searchBar">
        <ul class="searchContent">
            <li>
                <label>
                    项目名称：</label>
                <input type="text" name="keywords" value="@ViewData["keywords"]" />
            </li>
        </ul>
        <div class="subBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                检索</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="@Url.Action("create", "JG_Product")" rel="create" target="dialog" title="添加新产品" mask="true" max="true"><span>添加</span></a></li>
      <li><a class="edit" href="@Url.Action("edit", "JG_Product", new { id = "{mid}" })" rel="edit" target="dialog" title="编辑产品信息" mask="true" warn="请选择一个产品" max="true"><span>修改</span></a></li>
      <li><a class="delete" href="@Url.Action("delete", "JG_Product", new { id = "{mid}" })" rel="delete" target="ajaxTodo" title="确定要删除吗？"  warn="请选择一个产品"><span>删除</span></a></li>
    </ul>
  </div>
  <div layouth="115">
    <table class="list" width="100%" asc="asc" desc="desc">
      <thead>
        <tr>
            <th>
                产品名称
            </th>
            <th>
                所属机构
            </th>
            <th>
                最高融资额度
            </th>
            <th>
                融资期限
            </th>
            <th>
                操作
            </th>          
    </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
            <tr target="mid" rel=@item.ID>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinancingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinancingLimit)
            </td>
            <td>
                @Html.ActionLink("审核通过", "CPCheck", "JG_Product", new { id = @item.ID, state = "2" }, new { onclick = "javascript:return confirm('您确定撤消吗？');", rel = "CPUnCheckList", target = "ajaxTodo" })
            </td>
            </tr>
        }
      </tbody>
    </table>
  </div>
   <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 5, 10, 20, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>