@model GGZBTQPT_PRO.Models.T_JG_Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>T_JG_Product</legend>

    <div class="display-label">ProductName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">AgencyID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgencyID)
    </div>

    <div class="display-label">FinancingAmount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinancingAmount)
    </div>

    <div class="display-label">FinancingLimit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinancingLimit)
    </div>

    <div class="display-label">InterestRate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InterestRate)
    </div>

    <div class="display-label">CustomerType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerType)
    </div>

    <div class="display-label">Superiority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Superiority)
    </div>

    <div class="display-label">RepaymentType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RepaymentType)
    </div>

    <div class="display-label">AppCondition</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AppCondition)
    </div>

    <div class="display-label">Linkman</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Linkman)
    </div>

    <div class="display-label">Position</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Position)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">Mobile</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">Fax</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">QQ</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QQ)
    </div>

    <div class="display-label">IsPublic</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPublic)
    </div>

    <div class="display-label">IsValid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsValid)
    </div>

    <div class="display-label">OP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OP)
    </div>

    <div class="display-label">CreateTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateTime)
    </div>

    <div class="display-label">UpdateTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateTime)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
