@model IEnumerable<GGZBTQPT_PRO.ViewModels.VM_CPReport>
@{
    Layout = null;
}
<link href="@Url.Content("~/Content/css/Style.css")" rel="stylesheet" type="text/css" />
<div style="margin:10px 10px;" class="pageContent" layouth="30">
<h2>金融产品统计</h2>
<hr />
<p style="font-size:14pt">登记金融产品总数：@ViewBag.CPCount</p>
<br />
<div style="width:200px; float:left">
<table cellpadding="5" cellspacing="5" class="report_tb">
    <tr>
        <td>发布机构</td>
        <td>产品数量</td>
    </tr>
    @foreach (var item in Model)
    { 
        <tr>
            <td>@item.TypeName</td>
            <td>@item.Count</td>
        </tr>
    }
</table>
</div>
<div id="cpchart" style="height: 500px; width: 500px; float:left"></div>

</div>
<script src="@Url.Content("~/Public/jqPlot/plugins/jqplot.pieRenderer.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Public/jqPlot/plugins/jqplot.donutRenderer.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("@Url.Action("ProductReportData", "JG_Product")", function(data){
        
            var statData = [];
            $.each(data.statData, function(key, value){
                var _temp = [key, value];
                statData.push(_temp);
            }); 
            
            jQuery.jqplot('cpchart', [statData],
                {
                    title: '产品登记情况统计图表',
                    seriesColors: [ "#74A474", "#EED205", "#C5DA01", "#4C4C4C", "#065FB9", "#ff981f",
        "#BEC0C2", "#00CCFF", "#FF6600", "#D6E9FC"],
                    seriesDefaults: {
                        // Make this a pie chart.
                        renderer: jQuery.jqplot.PieRenderer,
                        rendererOptions: {
                            // Put data labels on the pie slices.
                            // By default, labels show the percentage of the slice.
                            showDataLabels: true
                            }
                        },
                    legend: { show: true, location: 'ne' }
                }
            );
        });
    });
</script>
