@model GGZBTQPT_PRO.Models.T_QY_Person

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<div class="pageContent">
@using (Html.BeginForm("Create", "QY_Person", FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
{
    @Html.ValidationSummary(true)
    <div class="pageFormContent" layouth="60">
    <table style="width: 100%; border-spacing:3px">
            <tr>
                <td colspan="4" style="height:25px; font-weight:bold">基本信息</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.Name, "姓名")</td>
                <td style="width:300px">@Html.EditorFor(model => model.Name)</td>
                <td style="width:140px">@Html.LabelFor(model => model.Gender, "性别")</td>
                <td>@Html.RadioButtonFor(model => model.Gender, "1", new { @id = "radio2", @name = "Gender" })男
                    @Html.RadioButtonFor(model => model.Gender, "2", new { @id = "radio1", @name = "Gender" })女</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CardType, "证件类型")</td>
                <td>@Html.DropDownList("CardType", "请选择")</td>
                <td>@Html.LabelFor(model => model.CardID, "证件号码")</td>
                <td>@Html.EditorFor(model => model.CardID)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Birth, "出生日期")</td>
                <td>@Html.EditorFor(model => model.Birth)</td>
                <td>@Html.LabelFor(model => model.HomeTown, "籍贯")</td>
                <td>@Html.EditorFor(model => model.HomeTown)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.College, "毕业院校")</td>
                <td>@Html.EditorFor(model => model.College)</td>
                <td>@Html.LabelFor(model => model.Specialty, "所学专业")</td>
                <td>@Html.EditorFor(model => model.Specialty)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.College, "学历")</td>
                <td>@Html.DropDownList("Education", "请选择")</td>
                <td>@Html.LabelFor(model => model.College, "学位")</td>
                <td>@Html.DropDownList("Degree", "请选择")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.College, "职称")</td>
                <td>@Html.DropDownList("Titles", "请选择")</td>
                <td>@Html.LabelFor(model => model.College, "职称等级")</td>
                <td>@Html.DropDownList("TitlesGrade", "请选择")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.College, "家庭住址")</td>
                <td colspan="3">@Html.EditorFor(model => model.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Remark, "备注")</td>
                <td>@Html.EditorFor(model => model.Remark)</td>
            </tr>
    </table>
    <table style="width: 100%; border-spacing:3px">
            <tr>
                <td colspan="4" style="height:25px; font-weight:bold">联系方式</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.Phone, "固定电话")</td>
                <td style="width:300px">@Html.EditorFor(model => model.Phone)</td>
                <td style="width:140px">@Html.LabelFor(model => model.Mobile, "移动电话")</td>
                <td>@Html.EditorFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Email, "电子邮箱")</td>
                <td>@Html.EditorFor(model => model.Email)</td>
                <td>@Html.LabelFor(model => model.MSN, "MSN")</td>
                <td>@Html.EditorFor(model => model.MSN)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.QQ, "QQ")</td>
                <td colspan="3">@Html.EditorFor(model => model.QQ)</td>
            </tr>
    </table>
    <table style="width: 100%; border-spacing:3px">
            <tr>
                <td colspan="2" style="height:25px; font-weight:bold">教育/工作经历</td>
            </tr>
            <tr>
                <td style="width:140px">@Html.LabelFor(model => model.EduExperience, "教育经历")</td>
                <td>@Html.TextAreaFor(model => model.EduExperience, new { rows = "5", cols = "100" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.WorkExperience, "工作经历")</td>
                <td>@Html.TextAreaFor(model => model.WorkExperience, new { rows = "5", cols = "100" })</td>
            </tr>
    </table>
    <table style="width: 100%; border-spacing:3px">
            <tr>
                <td colspan="2" style="height:25px; font-weight:bold">其他说明</td>
            </tr>
            <tr>
                <td style="width:140px"><label>其他说明</label></td>
                <td>@Html.TextAreaFor(model => model.Remark, new { rows = "5", cols = "100" })</td>
            </tr>
    </table>
    </div>
    
    <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit" value="提交">
                                提交</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close" value="取消">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
}
</div>