﻿@model IEnumerable<GGZBTQPT_PRO.Models.T_QY_Person>
@{
    Layout = null;
}
<script type="text/javascript">
    if(@ViewBag.gender == "1")
        $("#gender1").attr("checked", "checked");
    else
        $("#gender2").attr("checked", "checked");
</script>
<div class="pageHeader">
    <form id="pagerForm" method="post" action="@Url.Action("PersonQuery")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    <input type="hidden" name="personname" value="@ViewData["personname"]"  />
    <input type="hidden" name="cardid" value="@ViewData["cardid"]"  />
    <input type="hidden" name="gender" value="@ViewData["gender"]"  />
    <input type="hidden" name="txtedu" value="@ViewData["Education"]"  />
    </form>
    <form onsubmit="return navTabSearch(this);" action="@Url.Action("PersonQuery")" method="post">
    <div class="searchBar">
        <table style="width:100%; border-spacing:5px;" >
            <tr>
                <td width="80px;">姓名：</td>
                <td><input type="text" name="personname" value="@ViewData["personname"]"/></td>
            </tr>
            <tr>
                <td>证件号码：</td>
                <td><input type="text" name="cardid" value="@ViewData["cardid"]"/></td>
            </tr>
            <tr>
                <td>性别：</td>
                <td><input id="gender1" name="gender" type="radio" value="1"/>男<input id="gender2" name="gender" type="radio" value="2"/>女</td>
            </tr>
            <tr>
                <td>学历：</td>
                <td>@Html.DropDownList("Education", "全部")
                </td>
            </tr>
        </table>
        <div class="subBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                检索</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
  <div class="panelBar">
    <ul class="toolBar">
      <li><a class="add" href="@Url.Action("create", "QY_Person")" rel="create" target="dialog" title="添加创业者" mask="true" max="true"><span>添加</span></a></li>
      <li><a class="edit" href="@Url.Action("edit", "QY_Person", new { id = "{mid}" })" rel="edit" target="dialog" title="编辑创业者信息" mask="true" warn="请选择一个创业者" max="true"><span>修改</span></a></li>
      <li><a class="delete" href="@Url.Action("delete", "QY_Person", new { id = "{mid}" })" rel="delete" target="ajaxTodo" title="确定要删除吗？"  warn="请选择一个创业者"><span>删除</span></a></li>
    </ul>
  </div>
  <div layouth="198">
    <table class="list" width="100%" asc="asc" desc="desc">
      <thead>
        <tr>
            <th>
                姓名
            </th>
            <th>
                性别
            </th>
            <th>
                出生日期
            </th>
            <th>
                证件号码
            </th>
            <th></th>
    </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
            <tr target="mid" rel=@item.ID>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardID)
                </td>
                <td>
                <a href="@Url.Action("MemberFinancingList", "XM_RZ", new { memberid = item.MemberID })" target="dialog" title="项目一览表" mask="true" width="600" height="400">发布的项目</a> |
                <a href="@Url.Action("MemberInvestmentList", "XM_TZ", new { memberid = item.MemberID })" target="dialog" title="意向一览表" mask="true" width="600" height="400">发布的意向</a>
                </td>
            </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 15, 25, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>
