@model IEnumerable<GGZBTQPT_PRO.Models.T_ZC_OnlineLog>
@{
    Layout = null;
}
<div class="pageHeader">
    <form id="pagerForm" method="post" action="@Url.Action("OnlineLogs")">
    <input type="hidden" name="pageNum" value="@ViewData["pageNum"]" />
    <input type="hidden" name="numPerPage" value="@ViewData["numPerPage"]"  />
    <input type="hidden" name="keywords" value="@ViewData["keywords"]"  />
    </form>
    <form onsubmit="return navTabSearch(this);" action="@Url.Action("OnlineLogs")" method="post">
    <div class="searchBar">
        <ul class="searchContent">
            <li>
                <label>
                    会员名称：</label>
                <input type="text" name="keywords" value="@ViewData["keywords"]" />
            </li>
        </ul>
        <div class="subBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                检索</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
    <div layouth="116" id="divList">
        <table class="list" width="100%" asc="asc" desc="desc">
            <thead>
                <tr>
                    <th orderfield="name" class="asc">
                        会员名称
                    </th>
                    <th>
                        登陆时间
                    </th>
                    <th>
                        离开时间
                    </th>
                    <th>
                        IP地址
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr target="mid" rel=@item.ID>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.MemberName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoginInDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoginOutDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IpAddress)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panelBar">
        <div class="pages">
            <span>每页显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value,pageNum:1})">
                @{  
                    int[] nums = new int[] { 15, 20, 50, 100, 200 };
                    foreach (var num in nums)
                    {
                        if (Int32.Parse(ViewData["numPerPage"].ToString()) == num)
                        {  
                    <option value="@num" selected="selected">@num</option>       
                        }
                        else
                        {<option value="@num">@num</option>    }

                    }  
                }
            </select>
            <span>条，共 @ViewData["recordCount"] 条</span>
        </div>
        <div class="pagination" targettype="navTab" totalcount="@ViewData["recordCount"]" numperpage="@ViewData["numPerPage"]" pagenumshown="10"  
               currentpage="@ViewData["pageNum"]">
        </div>
    </div>
</div>
