@model IEnumerable<GGZBTQPT_PRO.Models.T_ZC_MemberLog>
@using GGZBTQPT_PRO.Enums
@{
    Layout = null;
}
<div  class="stat-container" >
    <hr />
    <div class="stat-number">
        <h3>
            按照功能类型统计操作时间如下：</h3>
        <ul>
            <li>金融推荐： @Model.Where(m => m.GenerateModule == (int)GenerateSystem.Recommend).Sum(m => m.Continuance.TotalMinutes)</li>
            <li>找项目： @Model.Where(m => m.GenerateModule == (int)GenerateSystem.FindFinancial).Sum(m => m.Continuance.TotalMinutes)</li>
            <li>找资金： @Model.Where(m => m.GenerateModule == (int)GenerateSystem.FindInvestment).Sum(m => m.Continuance.TotalMinutes)</li>
            <li>找服务： @Model.Where(m => m.GenerateModule == (int)GenerateSystem.FindService).Sum(m => m.Continuance.TotalMinutes)</li>
            <li>我的关注： @Model.Where(m => m.GenerateModule == (int)GenerateSystem.Attention).Sum(m => m.Continuance.TotalMinutes)</li>
            <li>我的收藏： @Model.Where(m => m.GenerateModule == (int)GenerateSystem.Favorite).Sum(m => m.Continuance.TotalMinutes)</li>
            <li>我的发布： @Model.Where(m => m.GenerateModule == (int)GenerateSystem.Publish).Sum(m => m.Continuance.TotalMinutes)</li>
        </ul>
    </div>
    <div class="unitBox" style="margin-left: 246px;">
        <div id="continuance_with_function_stat" style="height: 400px; width: 600px;">
        </div>
    </div>
</div>
<script src="@Url.Content("~/Public/jqPlot/plugins/jqplot.barRenderer.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Public/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Public/jqPlot/plugins/jqplot.pointLabels.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("@Url.Action("ContinuanceStatWithFuntionData", "ZC_MemberLog")", function(data){
        
            var statData = [];
            var ticks = [];
            $.each(data.statData, function(key, value){
                statData.push(value);
                ticks.push(key);
            }); 
            
            jQuery.jqplot('continuance_with_function_stat', [statData],
                {
                    seriesDefaults: {
                        renderer:$.jqplot.BarRenderer,
                        rendererOptions: {
                                fillToZero: true
                            }
                    },
                    axes: {
                        yaxis: {
                            pad: 1,
                            tickOptions: { formatString: '%.2f(分钟)' }
                        },
                        xaxis: {
                            renderer: $.jqplot.CategoryAxisRenderer,
                            ticks: ticks
                        }
                    }
                });
        });
    });
</script>
