@model IEnumerable<GGZBTQPT_PRO.Models.T_ZC_MemberLog>
@using GGZBTQPT_PRO.Enums
@{
    Layout = null;
}

<div class="row-fluid top-line pdv20">
    <div id="accomplishment_sum" class="span8 fnormal">
        <div id="operate_num_with_operate_type_stat">
        </div>
    </div>
    <div id="accomplishment_num" class="span4 fnormal">
        <p class="down-line ">
            <span class="label">按照操作类型统计操作次数如下：</span></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        操作类型
                    </th>
                    <th>
                        操作时间（次）
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        登陆操作
                    </td>
                    <td>
                        @Model.Where(m => m.OperateType == (int)OperateTypes.Login || m.GenerateModule == (int)OperateTypes.Logout).Count() （次）
                    </td>
                </tr>
                <tr>
                    <td>
                        访问操作
                    </td>
                    <td>
                        @Model.Where(m => m.OperateType == (int)OperateTypes.Visit).Count()（次）
                    </td>
                </tr>
                <tr>
                    <td>
                        添加操作
                    </td>
                    <td>
                        @Model.Where(m => m.OperateType == (int)OperateTypes.Create).Count()（次）
                    </td>
                </tr>
                <tr>
                    <td>
                        删除操作
                    </td>
                    <td>
                        @Model.Where(m => m.OperateType == (int)OperateTypes.Delete).Count()（次）
                    </td>
                </tr>
                <tr>
                    <td>
                        更新操作
                    </td>
                    <td>
                        @Model.Where(m => m.OperateType == (int)OperateTypes.Edit).Count()（次）
                    </td>
                </tr>
                <tr>
                    <td>
                        发布操作
                    </td>
                    <td>
                        @Model.Where(m => m.OperateType == (int)OperateTypes.Publish).Count()（次）
                    </td>
                </tr>
                <tr>
                    <td>
                        关注操作
                    </td>
                    <td>
                        @Model.Where(m => m.OperateType == (int)OperateTypes.Attention).Count()（次）
                    </td>
                </tr>
                <tr>
                    <td>
                        收藏操作
                    </td>
                    <td>
                        @Model.Where(m => m.OperateType == (int)OperateTypes.Favorite).Count()（次）
                    </td>
                </tr>
                <tr>
                    <td>
                        搜索操作
                    </td>
                    <td>
                        @Model.Where(m => m.OperateType == (int)OperateTypes.Search).Count()（次）
                    </td>
                </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("OperateNumStatWithOperateTypeData", "ZC_MemberLog")", 
            async: false,
            success: function(data){
        
            var statData = [];
            var ticks = [];
            $.each(data.statData, function(key, value){
                statData.push(value);
                ticks.push(key);
            }); 
            
            jQuery.jqplot('operate_num_with_operate_type_stat', [statData],
                {
                    seriesDefaults: {
                        renderer:$.jqplot.BarRenderer,
                        rendererOptions: {
                                fillToZero: true
                            }
                    },
                    axes: {
                        yaxis: {
                            pad: 1,
                            tickOptions: { formatString: '%d(次)' }
                        },
                        xaxis: {
                            renderer: $.jqplot.CategoryAxisRenderer,
                            ticks: ticks
                        }
                    }
                });
        }});
    });
</script>
