@model GGZBTQPT_PRO.Models.T_ZC_Menu
@{
    Layout = null;
}
<script type="text/javascript">
    $.validator.unobtrusive.parse(document);
    $("#ParentID").children().first().attr("value", 0);
</script>
<div class="pageContent">
    @using (Html.BeginForm("Create", "ZC_Menu", FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class = "pageForm" }))
    {

        @Html.ValidationSummary(true)

        <div class="pageFormContent" layouth="60"> 
            <p>@Html.LabelFor(model => model.SystemID, "所属系统")
                @Html.DropDownList("SystemID")
                @Html.ValidationMessageFor(model => model.SystemID)
            </p>
            <p>@Html.LabelFor(model => model.ParentID, "上级菜单")
                @Html.DropDownList("ParentID", "请选择上级菜单")
                @Html.ValidationMessageFor(model => model.ParentID)
            </p>
            <p>
                @Html.LabelFor(model => model.Name, "菜单名称")
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </p>
            <p>
                @Html.LabelFor(model => model.Url, "菜单路径")
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)
            </p>            
        </div>

        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
  
    }
</div>
