@model GGZBTQPT_PRO.Models.T_ZC_Menu
@{
    Layout = null;
}
<script type="text/javascript">
    function dialogDone() {
        $.pdialog.closeCurrent();
        navTab.reload();
    }
    $.validator.unobtrusive.parse(document);
</script>
<div id="FormContainer" class="pageContent">
    @using (Html.BeginForm("Edit", "ZC_Menu", FormMethod.Post, new { onsubmit = "return validateCallback(this,dialogAjaxDone)", @class="pageForm" }))
    {

        @Html.ValidationSummary(true)
        <div class="pageFormContent" layouth="56">
            <p>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </p>
            <p>
                @Html.LabelFor(model => model.Url)
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)</p>
            <p>
                @Html.LabelFor(model => model.IsValid)
                @Html.EditorFor(model => model.IsValid)
                @Html.ValidationMessageFor(model => model.IsValid)</p>
            <p>
                @Html.LabelFor(model => model.ParentID)
                @Html.EditorFor(model => model.ParentID)
                @Html.ValidationMessageFor(model => model.ParentID)</p>
            <p>
                @Html.LabelFor(model => model.CreatedAt)
                @Html.EditorFor(model => model.CreatedAt)
                @Html.ValidationMessageFor(model => model.CreatedAt)</p>
            <p>
                @Html.LabelFor(model => model.UpdatedAt)
                @Html.EditorFor(model => model.UpdatedAt)
                @Html.ValidationMessageFor(model => model.UpdatedAt)</p>
            <p>
                @Html.LabelFor(model => model.SystemID, "System")
                @Html.DropDownList("SystemID", "请选择所属系统")
                @Html.ValidationMessageFor(model => model.SystemID)</p>
        </div>

        <div class="formBar">
            <ul>				
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>

    }
</div>
