@model GGZBTQPT_PRO.Models.T_QY_Person

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.IsValid)
    @Html.HiddenFor(model => model.OP)
    @Html.HiddenFor(model => model.CreateTime)
    @Html.HiddenFor(model => model.UpdateTime)
    @Html.HiddenFor(model => model.MemberID)
    <table style="width:100%">
            <tr>
                <td colspan="4"><strong>基本信息</strong></td>
            </tr>
            <tr>
                <td style="width:90px">@Html.LabelFor(model => model.Name, "姓名")</td>
                <td>@Html.EditorFor(model => model.Name)</td>
                <td>@Html.LabelFor(model => model.Gender, "性别")</td>
                <td>@Html.RadioButtonFor(model => model.Gender, "1", new { @id = "radio2", @name = "Gender" })是
                    @Html.RadioButtonFor(model => model.Gender, "2", new { @id = "radio1", @name = "Gender" })否</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CardType, "证件类型")</td>
                <td>@Html.DropDownList("CardType", "请选择")</td>
                <td>@Html.LabelFor(model => model.CardID, "证件号码")</td>
                <td>@Html.EditorFor(model => model.CardID)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Birth, "出生日期")</td>
                <td>@Html.EditorFor(model => model.Birth)</td>
                <td>@Html.LabelFor(model => model.HomeTown, "籍贯")</td>
                <td>@Html.EditorFor(model => model.HomeTown)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.College, "毕业院校")</td>
                <td>@Html.EditorFor(model => model.College)</td>
                <td>@Html.LabelFor(model => model.Specialty, "所学专业")</td>
                <td>@Html.EditorFor(model => model.Specialty)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.College, "学历")</td>
                <td>@Html.DropDownList("Education", "请选择")</td>
                <td>@Html.LabelFor(model => model.College, "学位")</td>
                <td>@Html.DropDownList("Degree", "请选择")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.College, "职称")</td>
                <td>@Html.DropDownList("Titles", "请选择")</td>
                <td>@Html.LabelFor(model => model.College, "职称等级")</td>
                <td>@Html.DropDownList("TitlesGrade", "请选择")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.College, "家庭住址")</td>
                <td colspan="3">@Html.EditorFor(model => model.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Remark, "备注")</td>
                <td>@Html.EditorFor(model => model.Remark)</td>
            </tr>
    </table>
    <table style="width:100%">
            <tr>
                <td colspan="4"><strong>联系方式</strong></td>
            </tr>
            <tr>
                <td style="width:90px">@Html.LabelFor(model => model.Phone, "固定电话")</td>
                <td>@Html.EditorFor(model => model.Phone)</td>
                <td>@Html.LabelFor(model => model.Mobile, "移动电话")</td>
                <td>@Html.EditorFor(model => model.Mobile)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Email, "电子邮箱")</td>
                <td>@Html.EditorFor(model => model.Email)</td>
                <td>@Html.LabelFor(model => model.MSN, "MSN")</td>
                <td>@Html.EditorFor(model => model.MSN)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.QQ, "QQ")</td>
                <td colspan="3">@Html.EditorFor(model => model.QQ)</td>
            </tr>
    </table>
    <table style="width:100%">
            <tr>
                <td colspan="2"><strong>教育/工作经历</strong></td>
            </tr>
            <tr>
                <td style="width:90px">@Html.LabelFor(model => model.EduExperience, "教育经历")</td>
                <td>@Html.TextAreaFor(model => model.EduExperience, new { rows = "5", style = "width:95%" })</td>
            </tr>
            <tr>
                <td style="width:90px">@Html.LabelFor(model => model.WorkExperience, "工作经历")</td>
                <td>@Html.TextAreaFor(model => model.WorkExperience, new { rows = "5", style = "width:95%" })</td>
            </tr>
    </table>
    <table style="width:100%">
            <tr>
                <td><strong>其他说明</strong></td>
            </tr>
            <tr>
                <td style="text-align:center">@Html.TextAreaFor(model => model.Remark, new { rows = "5", style = "width:95%" })</td>
            </tr>
    </table>
    <p>
        <button class="btn btn-primary" type="submit">
            <i class="icon-ok icon-white"></i>保存设置</button>
        </p>
}

