@model IEnumerable<GGZBTQPT_PRO.Models.T_XM_Investment> 
@{
    string FavoredInvestments = ViewBag.FavoredInvestments;
}
@helper GenerateFavoriteLink(string favored_investments, string favored_id)
    {
        if (favored_investments.IndexOf(favored_id) > 0)
    {
        @Ajax.ActionLink("取消收藏", "UnFavored", "Favorite", new { id = favored_id }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" }) 
    }
    else
    {
        @Ajax.ActionLink("收藏该项目", "Favored", "Favorite", new { type_id = 2, id = favored_id }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" })
    }
}
<script type="text/javascript">
    function notice(data) {
        $("#recommend li.active a").click();
        $.Member.notice(data);
    }
</script>
@*推荐的资本信息*@
<div id="recommend">
    <div class="row-fluid">
        @*项目信息*@
        @foreach (var _model in Model)
        {
            <div class="recommend-content ">
                <h4>
                    <a href="\Member\Investment\Details\@_model.ID">@_model.ItemName</a></h4>
                @*摘要*@
                <p class="summary">
                    @_model.Description
                </p>
                @*附属信息*@
                <div class="recommend-info">
                    <span class="pub-time">@_model.CreateTime</span> <span class="pro-type">总投资：@_model.Investment</span> <span class="favorite"><a href="#">【@_model.Favoites.Count() 人收藏】</a></span> <span><i class="icon-heart"></i>@GenerateFavoriteLink(FavoredInvestments, @_model.ID.ToString())</span>
                </div>
            </div>
        }
    </div>
    <div class="pagination pagination-left clear">
        <ul>
            <li class="disabled"><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li class="disabled"><a href="#">Next</a></li>
        </ul>
    </div>
</div>
