@model IEnumerable<GGZBTQPT_PRO.Models.T_XM_Financing> 
@{
    string FavoredFinacials = ViewBag.FavoredFinacials;
    string AttentionedMembers = ViewBag.AttentionedMembers;
}
@helper GenerateFavoriteLink(string favored_finacials, string favored_id)
    {
    if (favored_finacials.IndexOf(favored_id) > 0)
    {
        @Ajax.ActionLink("取消收藏", "UnFavored", "Recommend", new { id = favored_id }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" }) 
    }
    else
    {
        @Ajax.ActionLink("收藏该项目", "Favored", "Recommend", new { type_id = 1, id = favored_id }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" })
    }
}

@helper GenerateAttentionLink(string attentioned_members, string member_id, int type_id)
    {
        if (attentioned_members.IndexOf(member_id) > 0)
    {
        @Ajax.ActionLink("取消关注", "UnAttentioned", "Attention", new { id = member_id }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" }) 
    }
    else
    {
        @Ajax.ActionLink("关注他", "Attentioned", "Attention", new { type_id = 1, id = member_id }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" })
    }
}
<script type="text/javascript">
    function notice(data) {
        $("#recommend li.active a").click();
        $.Member.notice(data.message); 
    }
</script>
@*推荐的项目信息*@
<div id="recommend">
    @*项目信息*@
    @foreach (var _model in Model)
    {    
        <div class="row-fluid">
            <div class="span2">
                <div class="member-link">
                    <img alt="友邻头像" class="img-polaroid" src="../../../../Content/images/member/user.jpg" />
                    <div>
                        <ul>
                            <li><a href="#"><span>@_model.Member.MemberName</span></a></li>
                            <li>@GenerateAttentionLink(@AttentionedMembers, @_model.MemberID.ToString(), @_model.Member.Type)</li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="recommend-content span10">
                <h4>
                    <a href="#">@_model.ItemName</a></h4>
                @*摘要*@
                <p class="summary">
                    @_model.ItemContent
                </p>
                @*附属信息*@
                <div class="recommend-info">
                    <span class="pub-time">@_model.CreateTime</span> <span class="pro-type">总投资：@_model.TotalInvestment</span> <span class="favorite"><a href="#">【@_model.Favoites.Count() 人收藏】</a></span> <span class="pull-right"><i class="icon-heart"></i>@GenerateFavoriteLink(FavoredFinacials, @_model.ID.ToString())</span> 
                </div>
            </div>
        </div>
        }
    <div class="pagination pagination-left clear">
        <ul>
            <li class="disabled"><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li class="disabled"><a href="#">Next</a></li>
        </ul>
    </div>
</div>
