@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Areas.ViewModels.VM_AttentionedPerson>
@helper HasAttentioned(GGZBTQPT_PRO.Models.T_HY_Member attentioned_member, int current_member_id, GGZBTQPT_PRO.Models.T_QY_Person attentioned_person)
{
    if (attentioned_member.Attentions.Select(a => a.AttentionedMemberID == current_member_id).Count() > 0 )
    { 
        <span class="mobile">手机：@attentioned_person.Mobile</span><span class="phone">固定电话：@attentioned_person.Phone</span><span class="email">邮箱：@attentioned_person.Email</span> 
    }
    else
    {
        <p><span class="label label-important">****以下信息互相关注后可见****</span></p>
        <span class="mobile">手机：********</span><span class="phone">固定电话：********</span><span class="email">邮箱：********</span> 
    }
} 

<div id="attentioned">
    @foreach (var _model in Model)
    {
        <div class="attentioned-content row-fluid">
            @*关注的创业者的头像和基本信息*@
            <div class="attentioned-link span2">
                <div class="unattentioned rounded">
                    <span><i class="icon-eye-close icon-white"></i>@Ajax.ActionLink("取消关注", "UnAttentioned", "Attention", new { id = _model.Person.MemberID }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" })</span>
                </div>
            </div>
            @*完整信息*@
            <div class="person-detail span10">
                @*可见信息*@
                <h4>
                    @_model.Person.Name</h4>
                <div class="base-detail">
                <p>
                    <label>毕业院校：<span>@_model.Person.College</span></label>
                    <label>学历：<span>@_model.Person.Education</span></label>
                    <label>所学专业：<span>@_model.Person.Specialty</span></label>
                    <label>工作经历:</label>
                    <p>@_model.Person.WorkExperience</p>
                </p> 
                </div>
                @*隐私信息*@
                <div class="privacy-detail">
                    @HasAttentioned(_model.Member,ViewBag.CurrentMemberID, _model.Person)
                </div>
            </div>
        </div>
    }
    <div class="pagination pagination-left clear">
        @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details" }) 
    </div>
</div>

<script type="text/javascript">
    function notice(data) {
        $("#attentioned li.active a").click();
        $.Member.notice(data);
    }
    $.Member.replaceBlankForMVCPager();
</script>