@model Webdiyer.WebControls.Mvc.PagedList<GGZBTQPT_PRO.Areas.ViewModels.VM_AttentionedAgency>



<div id="attentioned">
    @foreach (var _model in Model)
    {
        <div class="attentioned-content row-fluid">
            @*关注的创业者的头像和基本信息*@
            <div class="attentioned-link span2">
                <div class="unattentioned rounded">
                    <span><i class="icon-eye-close icon-white"></i>@Ajax.ActionLink("取消关注", "UnAttentioned", "Attention", new { id = _model.Agency.MemberID }, new AjaxOptions { HttpMethod = "post", OnSuccess = "notice" })</span>
                </div>
            </div>
            @*完整信息*@
            <div class="person-detail span10">
                @*可见信息*@
                <h4>
                    @_model.Agency.AgencyName</h4>
                <div class="base-detail">
                <div>
                    <label>机构类型：<span>@_model.Agency.AgencyTypeName</span></label>
                    <label>所在城市：<span>@_model.Agency.City</span></label>
                    <label>注册资金：<span>@_model.Agency.RegCapital</span></label>
                    <label>机构介绍:</label>
                    <p>
                    @Html.Raw((_model.Agency.Remark.Length > 200 ? _model.Agency.Remark.Substring(0, 200) + "..." : _model.Agency.Remark))
                    </p>
                    <label>服务介绍:</label>
                    <p>
                    @Html.Raw((_model.Agency.Services.Length > 200 ? _model.Agency.Services.Substring(0, 200) + "..." : _model.Agency.Services))
                    </p>
                </div> 
                </div>
                @*隐私信息*@
                <div class="privacy-detail text-success">
                  <span class="phone">固定电话：@_model.Agency.Phone</span><span class="email">地址：@_model.Agency.Address</span> 
                </div>
            </div>
        </div>
    }
    <div class="pagination pagination-left clear">
        @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "id", ContainerTagName = "ul", CurrentPagerItemWrapperFormatString = "<li class='active'><a href='#'>{0}</a></li>", PagerItemWrapperFormatString = "<li>{0}</li>" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "details" }) 
    </div>
</div>

<script type="text/javascript">
    function notice(data) {
        $("#attentioned li.active a").click();
        $.Member.notice(data);
    }
    $.Member.replaceBlankForMVCPager();
    $.Member.rounded();
</script>
